@import 'include_constants';

/*
================================================================================

HERO kinds of classes.  For actual Home page, and the 2AM home page.

header (.covering) - relative, to be container for children
	top
		.banner (on every page) - static flow
		.action
	hero
		img - absolute OR fixed
	icons (homepage only, but specify styling here for clarity) - absolute at bottom
	scrolldown - absolute at bottom

================================================================================
*/

$switchover-ratio-percent: 140;	// emperical switchover ratio where it's a seamless transition.


/*
----------------------------------------
Header
----------------------------------------
*/

header.covering {
	position:relative;	// container for absolute-positioned icons

	@media only screen and (max-aspect-ratio: $switchover-ratio-percent#{/100}) {	// it's special for portrait - square - slightly landscape

		width:100vw;		// default to fill entire display
		height:100vh;
	}
}

/*
----------------------------------------
Top
----------------------------------------
*/


.top {
	position:absolute;	// container for absolute-positioned icons
	left:0;
	right:0;
	top:0;

	@media only screen and (max-aspect-ratio: $switchover-ratio-percent#{/100}) {	// it's special for portrait - square - slightly landscape

		position:static;
	}
}

/*
----------------------------------------
Action Banner
----------------------------------------
*/

.action {
	text-align:center;
	a {
		padding:0 8px;
		display:inline-block;
		text-decoration:none;
		color:var(--cInkH);

		b {
			text-decoration:underline
		}
	}

	img {
		display:inline-block;
		width:32px;
		height:32px;
		padding:0;
	}

	position:relative;
	top:0;
	left:0;
	right:0;

	@media only screen and (max-aspect-ratio: $switchover-ratio-percent#{/100}) {	// it's special for portrait - square - slightly landscape
		position:static;	// just go below the banner
	}

	// Hide action banner entirely on tiny display
	@media only screen and (max-width:270px) {
		display:none;
	}

}




/*
----------------------------------------
Image
----------------------------------------
*/

img.hero-image {		// wide image, but not taking up whole display
	width:100vw;
}


@media only screen and (max-aspect-ratio: $switchover-ratio-percent#{/100}) {	// it's special for portrait - square - slightly landscape

	img.covering {
		position:fixed;
		object-fit:cover;
		object-position:50% 75%;
		top:0;
		z-index:-1;

		width:100vw;		// default to fill entire display
		height:100vh;
	}
}

// HACKS to deal with really complicated logic of making enough room not to get face covered up!

img.covering {
	@media only screen and (max-width:800px) and (max-height:550px) {
		border-top:3em solid var(--cBanner);
	}

		@media only screen and (max-width:600px) and (max-height:700px) {
		border-top:4em solid var(--cBanner);		// MORE room since it's probably two lines
	}
}

/*
----------------------------------------
Icons
----------------------------------------
*/

.icons-header svg {
	fill:var(--color6);
}

.icons.overlapping {
	position:absolute;
	bottom:0; left:0; right:0; /* should match with height of nav */
}


/*
----------------------------------------
Scrolldown
----------------------------------------
*/

// Default to not showing scrolldown arrow
.scrolldown {
	display:none;
}

// When we have javacript, and on the special aspect ratio, then show it.

@media only screen and (max-aspect-ratio: $switchover-ratio-percent#{/100}) {	// it's special for portrait - square - slightly landscape

	.js .scrolldown {

		display:block;
		position:absolute;
		bottom:0;
		width:100%;
		text-align:center;

		svg {
			width:24px;
			height:24px;
		}
	}
}



.bounce {
	animation:bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform:translateY(0);
	}
	40% {
		transform:translateY(-30px);
	}
	60% {
		transform:translateY(-15px);
	}
}


