header#main-header, body > footer, .page-menu {
  z-index: 2; }

body > footer {
  background: none; }
  body > footer p {
    color: #d9d9d9;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 599px) {
      body > footer p {
        opacity: 0.5;
        font-size: 0.7;
        text-shadow: none; } }

.js-warning {
  display: none; }

.logo svg {
  padding: 0.2em 0 0.1em 1em;
  max-width: 150px; }

.centered {
  text-align: center; }

.additional {
  background-color: yellow;
  margin-top: 10px;
  margin-bottom: 10px; }
  .additional a {
    color: black; }

.mini-icons {
  padding-left: 10px;
  display: inline-block; }
  .mini-icons svg {
    width: 24px;
    padding: 6px 6px 1rem 6px; }
  @media only screen and (max-width: 413px) {
    .mini-icons {
      display: none; } }

.background-blur {
  z-index: 0;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: #000;
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0); }
  .background-blur img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 55%;
    min-height: 55%;
    filter: blur(30px);
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    opacity: 0.7; }

.center-column {
  position: relative;
  z-index: 1;
  overflow: visible;
  max-width: 320px;
  display: block;
  margin: auto;
  padding: 0;
  border: 0;
  font-size: 16px;
  vertical-align: baseline; }

.imagecontainer {
  position: relative;
  display: block;
  overflow: hidden; }
  .imagecontainer img {
    width: 320px;
    display: block;
    position: relative;
    background-size: 100%; }

.title-container {
  background-color: #181818;
  padding-bottom: 10px;
  text-align: center;
  color: #fff; }
  .title-container h1, .title-container p {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.3em; }
  .title-container h1 {
    padding: 16px 20px 0;
    font-size: 18px;
    font-weight: 500; }
  .title-container p {
    padding: 5px 20px 20px;
    font-size: 14px;
    word-break: normal; }

.service-container {
  background-color: #fff; }

.service-barrier {
  border-top: 1px solid white;
  padding: 2px 10px 0;
  background-color: #888;
  color: white;
  font-size: 70%;
  letter-spacing: 2px;
  text-transform: uppercase; }

.service {
  padding: 2px 0;
  border-bottom: 1px solid #f5f5f5;
  transition: background-color .3s ease;
  cursor: pointer; }
  .service a {
    width: 100%;
    display: inline-block;
    text-decoration: none !important; }
  .service a:hover .play {
    transition: .3s ease;
    color: #fff;
    background-color: #222;
    border-color: #222; }
  .service .play {
    text-align: center;
    display: inline-block;
    float: right;
    margin: 15px 15px 15px 0;
    border-radius: 5px;
    border: 1px solid #777;
    padding: 8px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 155px;
    color: #777; }
  .service img {
    max-width: 170px;
    display: inline-block;
    margin: 14px 0 14px 15px; }
  .service:hover {
    transition: background-color .3s ease;
    background-color: #f5f5f5; }

.youtube-button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: auto; }

.switch {
  position: relative;
  height: 26px;
  width: 200px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); }
  .switch .switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 98px;
    line-height: 26px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    cursor: pointer; }
  .switch .switch-label:active {
    font-weight: bold; }
  .switch .switch-label-off {
    padding-left: 2px; }
  .switch .switch-label-on {
    padding-right: 2px; }
  .switch .switch-input {
    display: none; }
  .switch .switch-input:checked + .switch-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 0 1px rgba(255, 255, 255, 0.25); }
  .switch .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 100px;
    /* Note: left: 50%; doesn't transition in WebKit */ }
  .switch .switch-selection {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    display: block;
    width: 98px;
    height: 22px;
    border-radius: 3px;
    background-color: #c4bb61;
    background-image: linear-gradient(top, #e0dd94, #c4bb61);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2); }
