@import 'normalize';
@import 'html5boilerplate';

/*! Generic, Useful for many sites */

/* Flexbox sticky footer
	https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

	Using my top-level tags rather than their classes.
	Also, including MS syntax to try and support IE 9.  But not old webkit classes.

	Not really needed on a long-content page, but still useful to have in place.
*/

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

html, body {
	height: 100%; /* 1, 3 */
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

body > header,
body > footer {
	-ms-flex: none;
	flex: none; /* 2 */
}

body > main {
	-ms-flex: 1 0 auto;
	flex: 1 0 auto; /* 2 */
}

html {
	box-sizing: border-box;
}

/* Useful for image replacement */
.ir {
	border: 0 !important;
	font: 0/0 a !important;
	text-shadow: none !important;
	color: transparent !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
}

section, .safe-area {
	padding-left:  1rem;           /* Fallback if safe area not understood */
	padding-right: 1rem;
}

/* For iPhone X. Use @supports per https://webkit.org/blog/7929/designing-websites-for-iphone-x/
	iPhone X constants are supported only on browsers that support Max, so only use these within.
*/
@supports(padding:max(0px)) {
	section {
		// use m#{a}x instead of max to allow this to be compiled with Sass
		padding-left: m#{a}x(1rem, constant(safe-area-inset-left));
		padding-right: m#{a}x(1rem, constant(safe-area-inset-right));  /* iOS 11.0, 11.1 … phase out soon */
		padding-left: m#{a}x(1rem, env(safe-area-inset-left));
		padding-right: m#{a}x(1rem, env(safe-area-inset-right));       /* iOS 11.2 beta and up */
	}
	.safe-area-only {
		padding-left:  constant(safe-area-inset-left);
		padding-right: constant(safe-area-inset-right);  /* iOS 11.0, 11.1 … phase out soon */
		padding-left:  env(safe-area-inset-left);
		padding-right: env(safe-area-inset-right);       /* iOS 11.2 beta and up */
	}
}

/*! Specific */

$colorLink:      #00AEA8;
$colorWarning:   purple;
$colorWhite:     #ffffff;
$colorWhiteish:  #f5f5f5;
$colorGrayLight: #bdbdbd;
$colorGray:      #616161;
$colorGrayDark:  #424242;
$colorBlackish:  #212121;



/* ===== General ===== */

body {
	font: 16px/1.6 Helvetica, Helvetica Neue, Arial;
}

a.disabled {
	opacity:0.4;
	position:relative;
}
a.disabled:after{
	padding:0 5px;
	font-weight:bold;
	font-size:75%;
	background:$colorWhite;
	color:$colorBlackish;
	border-radius:5px;
	box-shadow:0 0 8px 8px $colorWhite;
	line-height:1;

	content:'Coming Soon';
	position:absolute;
	left:10%;
	bottom:8px;
	text-align:center;
	display:block;
	z-index:99;

	opacity:0; /* Invisible until hovered */
	transition:opacity .3s ease-in-out;
}
a.disabled:hover {
	opacity:1.0;
}
a.disabled:hover:after{
	opacity:0.75;
}


/* ===== Geometry ===== */

h3 {
	margin: 0;
	padding: 1rem 1rem;
	text-align: right;
}

section {
	padding-top: 1rem;			// don't specify sides since those are handled separately
	padding-bottom: 1rem;
}
section.balance-footer {
	padding-bottom: 0;
}

/* Debugging
section:nth-child(even) {background: cyan !important;}
section:nth-child(odd)  {background: pink !important;}
section header { background: red;}
section article { background: yellow;}
section footer { background: green;}
*/

iframe {
	border: none;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.input-form input,
.input-form textarea,
.input-form select {
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: 0.25rem 0.5rem;
	width: 95%;    /* Due to padding, make sure it won't overflow */
	max-width: 30rem;
	color: $colorBlackish;
}

input[type="submit"] {
	display: block;
	text-align: center;
	color: $colorWhite;
	background: $colorLink;
	padding: 6px 2rem;
	border: none;
	width: auto;
	border-radius:4px;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0; overflow: hidden;
	max-width: 100%;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


/* for header and footer, full window width but indented a bit */

body > footer p {
	padding: 20px 5%;
	margin: 0;
	font-size:80%;
}

article.textual {
	margin: 0 auto;
	padding: 2rem 0;  /* if we use margin above then it messes with background image */
	max-width: 60rem;
}

/* ====== Specific Sections ===== */

body > header {
	position: relative;
}

.logo {
	position:absolute;
	z-index:999;
	top:0; left:0; right:0;
}

.icons.popular {
	position: absolute;
	z-index:999;
	bottom:41px; left:0; right:0; /* should match with height of nav */
}

.main-nav {
	position: absolute;
	z-index:999;
	bottom:0; left:0; right:0;
}

.main-nav {
	text-align:center;
	a {
		display:inline-block;
		text-decoration:none;

		span {
			padding-left:0.5em;
		}
	}
}
.logo svg {
	padding: 2.5% 0 1.5% 5%;
	max-width: 67%;
	max-height: 140px;
}

.hero {
	width: 100%;
	height: auto;
	overflow:hidden;

	img {
		position:relative;
		width:100%;
		object-fit: cover;
		z-index:-999;
		top: 0;
		left: 50%; transform:translatex(-50%); /* center horizontally */
		filter: grayscale(100%);
	}
}

.featured img {
	position:absolute;
	bottom:calc(16% + 41px + 40px);	/* above buying nav and social icons */
	left:40px;
	width:10%;
	height:auto;
	box-shadow:0 0 8px 8px rgba(0,0,0,0.3);
	z-index:999;
}
.featured div {
	color:white;
	position:absolute;
	bottom:calc(16% + 41px + 5px);	/* above img */
	left:40px;
}

/* Icons (at top and bottom) */

.icons a {
	width: 10%;
	display: inline-block;

	svg {
		margin: 10%;
	}
}


.popular.icons a:first-child { /* Left margin for shorter icon list */
	margin-left: 20%;
}
.exhaustive.icons a:first-child { /* Smaller left margin for longer icon list */
	margin-left: 10%;
}
nav {
	position:relative; /* so it can contain an absolute */
	background:rgba(255,255,255,0.85);
	text-align:right;
	height:41px;		/* should match with .icons.popular */

	a {
		padding:0 8px;
	}
}

.main-nav  { /* total height 41px */
	svg, img {
	height:25px;	/* 25px minimum for apple logo guidelines */
	padding:8px 0;	/* 6.25px minimum padding around apple logo per their guidelines */
}
}

/* Scroll arrow only when we have a full page hero */

.scrolldown {
	position:absolute;
	bottom:0;
	width:100%;
	text-align: center;
	z-index:999;
}

.bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

/* Bands in Town section */

.bit-header-row, .bit-row {
		@extend .clearfix;
		padding:6px 0;
		border-bottom: 1px solid $colorGrayLight;
	}
	.bit-header { font-weight: bold; }
.bit-header-row svg {
	float:right;
}


.bit-row.bit-upcoming {
	&:hover {
		background:$colorWhiteish;
	}
	a {
		text-decoration:none;
		color:$colorBlackish;
	}

}

	.bit-date { padding-left:5px; text-transform:uppercase; font-weight: bold; display:inline-block; width:7em; }
	.bit-date, .bit-venue, .bit-citystate {
		padding-top:10px;
	}

	.bit-button {
		color:$colorWhite;
		background:$colorLink;
		padding:10px;
		display:inline-block;
		text-align:center;
		width:8em;
		text-transform:uppercase;
		font-weight:bold;
		font-size:90%;
		float:right;
	}

.bit-after { padding-top:1em; }

/* Mailing section */

.mailing-section {
	padding-top:0;
	padding-bottom:0;
	.centered { text-align:center; }
	form, input {
		display:inline-block;
	}
	input[type=text], input[type=email], input[type=submit] {
		padding:0.5em; margin:0.5em 0.5em;
		font:normal 16px HelveticaNeue-CondensedBold, impact, sans-serif;
	}
}
#mce-FNAME { width:6em;}
#mce-LNAME { width:9em;}
#mce-EMAIL { width:10em;}

/* Patreon section */

.patreon-section article {
	text-align: center;
	line-height: 1.5;
}

.patreon-button svg {
	max-width: 1rem;
	padding: 0 0.3rem;
}

/* Instagram section */

.instagram-section {
	article {
		margin: 0 auto;
		max-width: 1200px;
	}

	h2 {
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin: 0;
	}
}

.lightwidget-widget {
	background: $colorWhite;
	width: 100%;
	border: 0;
	overflow: hidden;
	margin-top: 0;
}

/* Track via Email List */

.next-to-side-photo-padded {
	padding: 0 2rem;  /* Make sure box is indented to be separated from photo */
}

.side-photo img {
	max-width: 100%;
}


/* Download buttons */

.download-section {

	.shadowed {
		box-shadow:0 4px 10px rgba(0,0,0,0.5);
	}

	div {
		margin: 0 auto;
		max-width:15em;
		padding-bottom:1em;
	}

	a {
		text-decoration:none;

		span {
			padding-left:0.5em;
		}
	}
}

a.buy-button {
	background:#00AEA8;
	color:$colorWhiteish;
	padding:6px 12px;
	border-radius:4px;

	font:normal 16px HelveticaNeue-CondensedBold, Impact, sans-serif;
	letter-spacing:1px;
	text-transform:uppercase;
	text-decoration:none;
	white-space: nowrap;
}




/* ===== Colors ===== */


a { color:$colorLink; }

.dimmer {
	color:$colorGray;
}

main {
	background:$colorWhite;
}

nav {
	background:rgba(255,255,255,0.85);
}

.redeem {
	float: left;
	margin-left:1em;
	margin-top:1em;
}
.epk {
	float: right;
	margin-right:1em;
	margin-top:1em;

	a {
		color:$colorBlackish;
		margin-top:5px;
		padding:0 0.5em 0 2em;
		font:normal 16px HelveticaNeue-CondensedBold, Impact, sans-serif;
		letter-spacing:1px;
		text-transform:uppercase;
		text-decoration:none;
		white-space: nowrap;
	}
}

/* image from svg/download.svg */
.download a {
	background:url('data:image/svg+xml;utf8,<svg viewBox="0 0 400 400" preserveAspectRatio="xMinYMin" xmlns="http://www.w3.org/2000/svg"><path fill="$colorGrayLight" d="M337.15 187.9a52.69 52.69 0 0 0 7.24-26.64 53 53 0 0 0-87.14-40.52c-15.3-37.91-52.42-64.68-95.81-64.68-57.06 0-103.31 46.26-103.31 103.31 0 3.48.17 6.92.5 10.3-31.68 14.29-53.77 46.08-53.77 83.1a91.17 91.17 0 0 0 91.17 91.17h220.86c41.49 0 78.25-29.56 78.25-79.9v-.82c0-38.63-24.06-65.07-58-75.32zm-78.05 34.9l-71.3 70.1-77.63-76.32h52.88v-73.52a8.61 8.61 0 0 1 8.61-8.61h31.21a8.6 8.6 0 0 1 8.61 8.6v73.53h53.96l-6.34 6.23z"/></svg>') no-repeat left center;
}


.logo, .icons {
	background:rgba(0,0,0,0.5);
}

.logo {
	background:#000;
}
.exhaustive.icons {
	background:$colorBlackish;
}


.patreon-section {
	background:$colorBlackish;
	color:$colorGrayLight;

	a {
		color:$colorWhite;
		text-decoration:none;
	}
}

.patreon-link {
	border-bottom:3px solid $colorLink;
}

.instagram-section {
	background:$colorGrayLight;
	a {
		color:$colorWhite;
	}
}

.mailing-section {
	background:$colorGrayLight;
}

.soundcloud-section {
	background:$colorWhiteish;
	a { color:$colorGrayDark; }
}

.youtube-section {
	background:$colorGray;
	color:$colorWhite;
	a { color:$colorWhiteish; }
}

.contact-section {
	background:$colorGrayLight;
	color:$colorBlackish;
}
.input-form a {
	color:$colorWhite;
}
.trapit { display:none !important; }

body > footer {
	background:$colorGrayLight;
	color:$colorWhite;
}

/* ==========================================================================
	 Other styles
   ========================================================================== */

.bandsintown-button {
	display:block;
	text-align:center;
	color:$colorWhite;
	background:$colorLink;
	padding:6px;

	a {
		color:$colorWhite;
		text-decoration:none;
	}
	svg {
		width:1.5rem;
		padding-bottom:0.3rem;
	}
}

/* Show soundcloud iframe (loaded from script) at maximum width */

iframe.soundcloud {
	width:100%;
}

/* Special hover tooltip-like display over social icons */
.icons {
	a {
		position:relative;
	}
	a:after{
		padding:0 5px;
		font-size:80%;
		background:$colorWhite;
		color:$colorBlackish;
		border-radius:5px;
		box-shadow:0 0 8px 8px $colorWhite;
		line-height:1;

		content:attr(data-title);
		position:absolute;
		left:10%;
		bottom:8px;
		text-align:center;
		display:block;
		z-index:99;

		opacity:0; /* Invisible until hovered */
		transition:opacity .3s ease-in-out;
	}
	a:hover:after{
		opacity:0.75;
	}
	a:last-child:after { /* Also need to do below for 5th icon when we have two rows! SEE BELOW */
		right:15%;  /* plenty of room for shadow effect to not overflow the container on phone */
		left:auto;
	}
}

.no-js .requires-js {
	display:none;
}
.js .js-required {
	display:none;
}
.no-js .js-required {
	padding:0.5rem 1rem;
	margin:0;
	color:$colorWarning;
	background:$colorWhiteish;
}

.browserupgrade { /* Improve the formatting a bit without messing with original */
	font-size:150%;
	padding:1rem;
}

.warning {
	color:$colorWarning;
}

/* ===== BREAKPOINTS … general (under 600 for mobile, 600+ for desktop) and specialized ===== */

@media only screen and (max-width:599px) {

	/* Bigger social media icons on mobile ... 4-up when we have the 10 icons */
	.exhaustive.icons a {
		width:25%;
	}
	.exhaustive.icons a:nth-child(5):after { /* Need to not overflow text on right */
		right:15%;
		left:auto;
	}

	/* ... and 6-up without margins where we have the 6 icons */
	.popular.icons a {
		width:16.66%;
	}
	.popular.icons a:first-child, .exhaustive.icons a:first-child{
		margin-left:0;
	}

	.featured img {
		bottom:calc(18% + 82px + 40px);	/* above buying nav and social icons */
	}
	.featured div {
		bottom:calc(18% + 82px + 5px);	/* above img */
	}

	/* On mobile, center photo rather than side-by-side with mailing list form */
	.side-photo {
		margin-left:25%;
		width:50%;
	}

	/* On mobile, avoid left/right margin on some sections (except for their headers/footers which are textual) */

	.maximize-mobile {
		padding-left:0;
		padding-right:0;
		footer, header {
			padding-left:1rem;
			padding-right:1rem;
		}
	}

	.download {
	font-size:12px; /* smaller text */
	}

	/* Bands in town just show square logo */
	.bit-header-full {
		display:none;
	}
	.bit-date, .bit-venue, .bit-citystate, .bit-button {
		display:block;
	}
	.bit-date, .bit-venue, .bit-citystate {
		padding:0;
	}

	.mailing-section {
		padding-top:0.5rem;
		padding-bottom:0.5rem;
		h3, form, input {
			display:block;
		}
		h3 { padding:0; margin:0.5em 0.5em; }
		input[type=text], input[type=email], input[type=submit] {
			padding:0.5em;
			margin:0.5em 0.5em;
		}
	}
	#mce-FNAME, #mce-LNAME, #mce-EMAIL { width:90%;}

}

@media only screen and (min-width:600px) {

	/* If wide enough, show button inline with text rather than 100% wide */

	.bandsintown-button {
		display:inline;
		margin-right:0.3rem;
	}

	/* Two YouTube videos side by side */

	.youtube-column {
		width:50%;
		float:left;
	}

	/* On wide screens, put photo to left of the 'contact' form */

	.side-photo {
		float:left;
		width:33%;
	}
	.next-to-side-photo {
		float:left;
		width:66%;
	}

	/* Bands in town just show square logo */
	.bit-header-mobile {
		display:none;
	}

	/* Make track link be a button */
	.bit-track { text-decoration:none; color:$colorWhite; background:$colorLink; padding:10px; margin-right:0.5em; }

	/* Separator for city-state */
	.bit-citystate:before { content:' — '; }

}

@media only screen and (max-width:430px) {
	.needs-medium {
		display:none !important;
	}

}

/* Not so likely but we need to be prepared for 3 rows */
@media only screen and (max-width:500px) {

	.redeem, .epk {
		width:100%;
		text-align:center;
		margin:0.5em 0;
	}

	.featured img {
		bottom:calc(17% + 123px + 40px);	/* above buying nav and social icons */
	}
	.featured div {
		bottom:calc(17% + 123px + 5px);	/* above img */
	}

}

@media only screen and (min-width:800px) {

	/* Wider screens, show patreon as a distinct button */

	.patreon-button {
		border:1px solid $colorWhite;
		padding:0.5rem;
		background:$colorGrayDark;
	}
	.patreon-link {
		border-bottom:none;
	}

	/* Wider screens, there is room for 3 SoundClouds side by side. */

	.soundcloud-column {
		width:33%;
		float:left;
	}
}

#redeem-form input {
	width:8em;
	background: $colorWhite;
	font:normal 16px HelveticaNeue-CondensedBold, impact, sans-serif;
	letter-spacing:1px;
	text-transform:uppercase;
}
input#redeem-submit {
	display:inline-block;
	width:2em;
	height:1.25em;
	margin-left:0.5em;
	padding:0.25em 0.25em;
	border-radius:4px;
	background:$colorLink url('data:image/svg+xml;utf8,<svg viewBox="0 0 400 400" preserveAspectRatio="xMinYMin" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M337.15 187.9a52.69 52.69 0 0 0 7.24-26.64 53 53 0 0 0-87.14-40.52c-15.3-37.91-52.42-64.68-95.81-64.68-57.06 0-103.31 46.26-103.31 103.31 0 3.48.17 6.92.5 10.3-31.68 14.29-53.77 46.08-53.77 83.1a91.17 91.17 0 0 0 91.17 91.17h220.86c41.49 0 78.25-29.56 78.25-79.9v-.82c0-38.63-24.06-65.07-58-75.32zm-78.05 34.9l-71.3 70.1-77.63-76.32h52.88v-73.52a8.61 8.61 0 0 1 8.61-8.61h31.21a8.6 8.6 0 0 1 8.61 8.6v73.53h53.96l-6.34 6.23z"/></svg>') no-repeat center center;
	color:white;
}

#redeem-form ::-webkit-input-placeholder {text-align: center; }
#redeem-form :-moz-placeholder           {text-align: center; }
#redeem-form ::-moz-placeholder          {text-align: center; }
#redeem-form :-ms-input-placeholder      {text-align: center; }
#redeem-form ::placeholder               {text-align: center; }

#cover {
	position:fixed;
	top:0;left:0;
	background:rgba(0,0,0,0.5);
	z-index:1000;
	width:100%;
	height:100%;
}
#redeemer {
	position: fixed;
	top: 20%;
	left:50%;
	transform: translate(-50%, -20%);

	min-width:600px;
	max-width:100%;
	min-height:300px;
	max-height:100%;
	margin:auto auto;
	background:$colorWhite;
	border:5px solid black;
	border-radius:10px;
	padding:10px;
	z-index:1010;
}
#close-redeem {
	position:fixed;
	top:0;
	right:40px;
	font-size:600%;
	color:$colorWhite;
	z-index:1011;
	text-shadow:0 0 4px $colorBlackish;
	cursor:pointer;
}

/* Allows defs to be defined first without showing up */

svg defs {
	height: 0;
	position: absolute;
	width: 0;
}

/* YouTube player */

.youtube {
	background-color: $colorBlackish;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
	img {
		width: 100%;
		top: -16.84%;	// needed because sddefault.jpg image is letterboxed (though other sizes aren't)
		left: 0;
		-webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 25%);
		mask-image: linear-gradient(to bottom, transparent 0%, black 25%);
	}
	.play-button {
		width: 68px;
		height: 48px;
		background-color: $colorGrayDark;
		box-shadow: 0 0 20px rgba( 0,0,0,0.6 );
		z-index: 1;
		opacity: 0.9;
		border-radius: 6px/18px;
	}

	&:hover .play-button {
		background-color: red;
		opacity:1.0;
	}
	.play-button:before {
		content: "";
		border-style: solid;
		border-width: 10px 0 10px 16.0px;
		border-color: transparent transparent transparent $colorWhite;
	}
	img, .play-button {
		cursor: pointer;
	}
	img, iframe, .play-button, .play-button:before {
		position: absolute;
	}
	.play-button, .play-button:before {
		top: 50%;
		left: 50%;
		transform: translate3d( -50%, -50%, 0 );
	}
	iframe {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
	.title {
		position:absolute;
		top:12px;
		left:20px;
		color:$colorWhite;
		text-shadow:0 0 4px $colorBlackish;
	}
}

/* ============= Redeem iFrame ================ */

/* Responsive, big containers */
#redeem_console {
	padding: 20px;
	@extend .clearfix;

	h1 {
		margin:0;
	}
}

#cover-art-container {
  width: 20%;
  float: left; }

#downloader {
  width: 80%;
  float: left; }

#cover-art {
  margin-right: 20px; }

#cover-art img {
  width: 100%;
  height: auto; }

/*******************************************************************
 #list-container
 *******************************************************************/
.song {
	@extend .clearfix;
	margin-top:5px;
}
.song-meta-data {
  float: left;
  width: calc( 100% - 10em); }

.song-download {
  float: left;
  text-align:right;
  width: 7em; }

.song-title {
  color: #272726;
  font-size: 16px;
  display: block;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.song-duration, .track-number {
  float: left;
  width: 3em;
  text-align: center;
  color: #607D8B;
  font-size: 16px;
  font-weight: 500; }

.track-number {
  width: 2em;
}

@media only screen and (max-width:599px) {
	#redeemer {
		border:none;
		padding:0;
		min-width:auto;
 		width: calc( 100% - 2em);
	}

	#cover-art-container {
		width: 70%;
		float: none;
		margin:0 auto;
	}

	#downloader {
  		width: 100%;
  		float: none;
  	}

	#cover-art {
		margin-right: 20px;
	}



}


