
section {
	padding-top:1rem;			// don't specify sides since those are handled separately
	padding-bottom:1rem;
}
section.balance-footer {
	padding-bottom:0;
}

article.textual {
	margin:0 auto;
	padding:2rem 0;		/* if we use margin above then it messes with background image */
	max-width:60rem;
}
article.textual.unpadded {
	padding:0;
}

// Always 3 columns
.columns-3 {
	display:flex;
	& > * {
		width:33%;
	}
}

// 3 columns, or two with multiple rows (with odd one centered at bottom), or 1 on narrow display.
// Flexbox fallback, alas, leaves 3rd item full size on last line unless we specify a max width, though
//   be careful - this means on wider screen, all elements have max width.
.columns-3-2-1 {

	// fallback
	display:flex;
	flex-wrap:wrap;
	justify-content:center;

	& > * {
		flex-grow:1;
		flex-basis:$breakpointToSmall/2 - $typicalPadding*2 - 1px;	// need to compensate for padding myself!
		max-width:400px;
	}

	@supports (display: grid) {


	}
}

// 3 columns, or 1 on narrow display.
.columns-3-1 {

	@media only screen and (min-width:$breakpointToSmall) {
		display:flex;

		& > * {
			width:33%;
		}

	}
}



.columns-4 {
	
}

.columns-4-2-1 {
	
}

.columns 4-1 {
	
}

.columns-2 {
	
}

.columns-2-1 {
	
}
