@import 'constants';

@import 'normalize';
@import 'html5boilerplate';

// Useful classes and layout that could be used on other sites
@import 'generic.scss';

// General look and utility useful across the whole site
@import 'typography.scss';
@import 'colors.scss';
@import 'geometry.scss';

@import 'navigation.scss';
@import 'social-icons.scss';
@import 'tables.scss';
@import 'masonry.scss';
@import 'youtube.scss';

// Classes and sections replicated across multiple pages
@import 'shared.scss';


/* Debugging
section:nth-child(even)	{background:cyan !important;}
section:nth-child(odd)	{background:pink !important;}
section header { background:red;}
section article { background:yellow;}
section footer { background:green;}
*/
