@import 'normalize';
@import 'html5boilerplate';

/*! Start of CSS for this site */


@import 'include_constants';

// Useful classes and layout that could be used on other sites
@import 'main_generic.scss';

// General look and utility useful across the whole site
@import 'main_typography.scss';
@import 'main_colors.scss';
@import 'main_geometry.scss';

@import 'main_navigation.scss';
@import 'main_social-icons.scss';
@import 'main_tables.scss';
@import 'main_masonry.scss';
@import 'main_youtube.scss';

// Classes and sections replicated across multiple pages
@import 'main_shared.scss';


/* Debugging
section:nth-child(even)	{background:cyan !important;}
section:nth-child(odd)	{background:pink !important;}
section header { background:red;}
section article { background:yellow;}
section footer { background:green;}
*/
