@import 'include_constants';

// Needs the 'hero' stuff on this page
@import 'include_hero';

// 2AM PAGE, SVG-BASED LOGO

.banner svg {
	padding:3% 0 1.5% 5%;
	max-width:67%;
	max-height:140px;
	min-height:40px;
}
a.filled svg {
	fill:currentColor;
}

@media only screen and (min-width:$mainBreakpoint) {

	// override usual top to make room for page navigation
	.banner svg {
		padding-top:($page-menu-padding-v + $page-menu-padding-v + $page-menu-font-size);
	}
}

section.bio {
	background-color:var(--color6);
}

section.videos {
	background-color:var(--color2);
}


