table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

td {
	padding: 5px;
}

td a {
	display: block;
	text-decoration: none
}

td.info {
	opacity: 0.5
}

td.thumb {
	min-width: 32px;
}

.thumb img {
	width: 32px;
}

.socials svg {
	width: 2em;
	height: 2em;
	padding: 10px 10px 10px 0;
}

tr:nth-child(even) {
	background: rgba(0, 0, 0, 0.1)
}

a.active {
	font-weight: bold;
	text-decoration: none;
}