extends ../_layout.pug


block vars
	- var title = 'Projects'
	- var current = 'Projects'
	- var currentClass = 'projects'
	- var description = 'Some recent musical projects that Lorenzo Wood has been involved in'

block append links
	meta(name="robots" content="noindex")
	
block main
	section
		article.textual
			p.
				This is a chronicle of sorts, describing what I've been doing musically. It's arranged reverse-chronologically, like a blog.
			
			.clearfix
				h2 New Album & Singles
					span.blogdate (ongoing 2018-2019)
				p.
					I'm working on several new singles. My plans are to finish and release a couple of new songs in early 2019, gradually building up a full-length album. Watch out for new songs "Jacket" and "Let You In", which I'm performing live when I get a chance. Playing these songs, I received "Best Performance" award at one recent West Coast Songwriters event, and "Best Song" at another.

			.clearfix
				img.small(src="IMG_6906.jpg" alt="Kat Van Morgan, 2018")
				h2 Kat Van Morgan 
					span.blogdate (Fall 2018)
				p.
					I formed a band with Marta ____, a friend and collaborator (see below), and my new friend Sarah Morgan. No name for the band yet! I'm the keyboardist/guitarist for the band, while Marta is the lead singer and Sarah is the drummer. Sometimes Sarah and I switch places on guitar and drums. Our first "public" gig was a Marta's annual holiday party in Lafayette.

			.clearfix
				img.small(src="IMG_6916.jpg" alt="Saint Benjamin, 2018")
				h2 St. Benjamin / Ben ________
					span.blogdate (Fall 2018)
				p.
					I joined Saint Benjamin as the drummer; I had my first gig with the band in December 2018 playing drums along with a bit of bass along with some impromptu keyboards, guitar, and vocals at the end of the show.

			.clearfix
				img.small(src="IMG_6703.jpg" alt="I Left You, 2018")
				img.small(src="IMG_6728.jpg" alt="I Left You, 2018")
				h2 I Left You
					span.blogdate (Summer/Fall 2018)
				p.
					After meeting Andrew _____, we teamed up as an electronic band. We are working on a song "______" which Andrew released as a demo on Soundcloud. We'll be releasing a final version of the song in early 2019. We performed a few of our songs live (also with Troy Herner-Brown on percusion) in October 2018.

			.clearfix
				h2 Caley Kenney Band
					span.blogdate (Summer/Fall 2018)
				p.
					I played drums in this five-piece jazz/rock band.

			.clearfix
				img.small(src="IMG_9898.jpg" alt="The Rewinds, gig of July 2018")
				h2 The Rewinds
					span.blogdate (Summer 2018)
				p.
					I played drums in this three-piece alternative rock band, of fellow teens, culminating in a performance in July.

			.clearfix
				img.small(src="IMG_9672.jpg" alt="Lorenzo Wood Band gig")
				img.small(src="IMG_4841.jpg" alt="Lorenzo Wood Band gig")
				h2 Busking & Performing solo and with the Band
					span.blogdate (Summer/Fall 2018)

				p.
					Summer is street faire season, and I show up at as many as I can, either busking or in a few cases booked on stage. Some of my favorite events for busking are street fairs in Lafayette, Walnut Creek, Los Altos, Berkeley, Oakland, and Alameda.
				p.
					I also played several sets at the Walnut Festival in Walnut Creek.
				p.
					I also had several gigs, solo or with the band, at house parties and block parties, throughout the summer.

			.clearfix
				h2 Recording other artists
					span.blogdate (2018)
				p.
					I like to help other musicians get their songs recorded profesionally. I've helped my friend Marta _____ work on getting her own songs recorded; I help with tracking the instruments and production. I also helped Cori DeTurk record several of her original songs.

			.clearfix
				img.small(src="now-in-control.jpg" alt="Lorenzo Wood EP, Now In Control")
				h2 Release of debut EP
					span.blogdate (Spring 2018)
				p.
					In May 2018, just before I turned 16, I put the finishing touches on my debut EP, "Now In Control," and released it to the world. It's now available online at the typical services like Apple Music and iTunes, Spotify, Amazon Music, Google Play. It's also available on BandCamp and via physical CDs.

			.clearfix
				h2 Sound Engineer for "A Chorus Line"
					span.blogdate (Spring 2018)
				p.
					Encinal High School enlisted me to run sound for their production of "A Chorus Line." I ran sound, set up actors' microphones, and attended to the audio during the performances.

			.clearfix
				img.small(src="IMG_8582.jpg" alt="Lorenzo Wood performing at private party")
				h2 Private Parties
					pan.blogdate (Fall 2017)
				p.
					I had several solo gigs over the fall, including a company party, a company dinner party, and the wedding of my new friend Marta ______, who I met while busking in Lafayette in Summer 2017.




