//- Make the scaled images be 960 pixels wide; put original ones into orig/ folder.
block main
	section
		p: i Photos may be used by the press, blogs, etc.; click to get larger version. Please credit photographers listed in file names.

		article.masonry
			- 
				var images = [
					['Lorenzo Wood, Spring 2020.jpg', '', 1440],
					['Lorenzo Wood 0140.jpg', '', 640],
					['Lorenzo Wood 0221.jpg', 'Lorenzo Wood and band at Alameda Mini Maker Faire, 2018', 774],
					['Lorenzo Wood 1946.jpg', 'Lorenzo Wood and band at Lone Tree Cemetery Summer Concert Series, 2019', 640],
					['Lorenzo Wood 2089.jpg', 'Lorenzo Wood and band at Lone Tree Cemetery Summer Concert Series, 2019', 640],
					['Lorenzo Wood 2156.jpg', 'Lorenzo Wood and band at Lone Tree Cemetery Summer Concert Series, 2019', 640],
					['Lorenzo Wood 2168.jpg', 'Lorenzo Wood and band at Lone Tree Cemetery Summer Concert Series, 2019', 640],
					['Lorenzo Wood 2169.jpg', '', 640],
					['Lorenzo Wood 2453.jpg', '', 960],
					['Lorenzo Wood 2558.jpg', '', 960],
					['Lorenzo Wood 4965.jpg', 'Lorenzo Wood and band at Alameda Mini Maker Faire, 2018', 644],
					['Lorenzo Wood 5687.jpg', '', 960],
					['Lorenzo Wood 6115.jpg', '', 640],
					['Lorenzo Wood 6184.jpg', '', 1344],
					['Lorenzo Wood 6190.jpg', '', 640],
					['Lorenzo Wood 7646.jpg', '', 1200],
					['Lorenzo Wood 8967.jpg', '', 720],
					['Lorenzo Wood 9179.jpg', 'Lorenzo Wood and band performing in Oakland', 626],
					['Lorenzo Wood 9286.jpg', 'Lorenzo Wood and band performing in Alameda', 512],
					['Lorenzo Wood 9999.jpg', '', 640],
					['Lorenzo Wood Photo Credit Claire Ashcraft 11.jpg', '', 1044],
					['Lorenzo Wood Photo Credit Claire Ashcraft 22.jpg', '', 692],
					['Lorenzo Wood Photo Credit Dave Weiland 01.jpg', '', 1290],
					['Lorenzo Wood Photo Credit Dave Weiland 02.jpg', '', 1440],
					];

			//- The smaller size are 960 pixels wide; larger ones can be much bigger (but optimized for size)
			each imageDuple, i in images
				a(target='_BLANK', href=cloudImgPrefix + 'photos/orig/' + encodeURIComponent(imageDuple[0]) ) 
					img.item(data-aos='fade', data-aos-delay='500', data-aos-duration="1000", alt='Lorenzo Wood Music', title=imageDuple[1], src=cloudImgPrefix + 'photos/' + encodeURIComponent(imageDuple[0]), width=960, height=imageDuple[2])



//-LEGACY - KEEP AROUND FOR NOW BUT DON'T LINK TO IN PAGE, in case of any good hot-linking. MAYBE TAKE DOWN IN 2021 ...
//-
//-Lorenzo Wood 0478.jpg
//-Lorenzo Wood 0691.jpg
//-Lorenzo Wood 4546.jpg
//-Lorenzo Wood 6135.jpg
//-Lorenzo Wood 8901.jpg
//-Lorenzo Wood 8915.jpg
//-Lorenzo Wood 8974.jpg
//-Lorenzo Wood 9023.jpg
//-Lorenzo Wood 9073.jpg
//-Lorenzo Wood 9111.jpg
//-Lorenzo Wood 9560.jpg
//-Lorenzo Wood 9604.jpg
//-Lorenzo Wood 9651.jpg
//-Lorenzo Wood Photo Credit Claire Ashcraft 33.jpg
//-Lorenzo Wood Photo Credit Claire Ashcraft 42.jpg
//-Lorenzo Wood Photo Credit Claire Ashcraft 43.jpg
//-Lorenzo Wood Photo Credit Claire Ashcraft 44.jpg
//-Lorenzo Wood Photo Credit Claire Ashcraft 53.jpg
//-Lorenzo Wood Photo Credit Nikki Maguire 7176.jpg

