extends ../_layout.pug


block vars
	- var pageTitle = 'Photos'
	- var currentClass = 'photos'
	- var description = 'Photos of Lorenzo Wood, musician from the San Francisco Bay Area'

//- Make the scaled images be 960 pixels wide; put original ones into orig/ folder.
block main
	section
		p: i Photos may be used by the press, blogs, etc.; click to get larger version. Please credit photographers listed in file names.

		article.masonry
			- 
				var images = [
					['Lorenzo Wood 0140.jpg', '______________'],
					['Lorenzo Wood 0221.jpg', '______________'],
					['Lorenzo Wood 1946.jpg', '______________'],
					['Lorenzo Wood 2089.jpg', '______________'],
					['Lorenzo Wood 2156.jpg', '______________'],
					['Lorenzo Wood 2168.jpg', '______________'],
					['Lorenzo Wood 2169.jpg', '______________'],
					['Lorenzo Wood 2453.jpg', '______________'],
					['Lorenzo Wood 2558.jpg', '______________'],
					['Lorenzo Wood 4965.jpg', 'Lorenzo Wood and band at Alameda Mini Maker Faire, 2018'],
					['Lorenzo Wood 5687.jpg', '______________'],
					['Lorenzo Wood 6115.jpg', '______________'],
					['Lorenzo Wood 6184.jpg', '______________'],
					['Lorenzo Wood 6190.jpg', '______________'],
					['Lorenzo Wood 7646.jpg', '______________'],
					['Lorenzo Wood 8967.jpg', '______________'],
					['Lorenzo Wood 9179.jpg', 'Lorenzo Wood and band performing in Oakland'],
					['Lorenzo Wood 9286.jpg', 'Lorenzo Wood and band performing in Alameda'],
					['Lorenzo Wood 9999.jpg', '______________'],
					['Lorenzo Wood Photo Credit Claire Ashcraft 11.jpg', '______________'],
					['Lorenzo Wood Photo Credit Claire Ashcraft 22.jpg', '______________'],
					['Lorenzo Wood Photo Credit Dave Weiland 01.jpg', '______________'],
					['Lorenzo Wood Photo Credit Dave Weiland 02.jpg', '______________'],
					];

			//- The smaller size are 960 pixels wide; larger ones can be much bigger (but optimized for size)
			each imageDuple, i in images
				a(target='_BLANK', href='orig/' + imageDuple[0]) 
					img(alt='Lorenzo Wood Music', title=imageDuple[1], src=imageDuple[0])





//-LEGACY - KEEP AROUND FOR NOW BUT DON'T LINK TO IN PAGE. MAYBE TAKE DOWN IN 2021 ...
//-
//-Lorenzo Wood 0478.jpg
//-Lorenzo Wood 0691.jpg
//-Lorenzo Wood 4546.jpg
//-Lorenzo Wood 6135.jpg
//-Lorenzo Wood 8901.jpg
//-Lorenzo Wood 8915.jpg
//-Lorenzo Wood 8974.jpg
//-Lorenzo Wood 9023.jpg
//-Lorenzo Wood 9073.jpg
//-Lorenzo Wood 9111.jpg
//-Lorenzo Wood 9560.jpg
//-Lorenzo Wood 9604.jpg
//-Lorenzo Wood 9651.jpg
//-Lorenzo Wood Photo Credit Claire Ashcraft 33.jpg
//-Lorenzo Wood Photo Credit Claire Ashcraft 42.jpg
//-Lorenzo Wood Photo Credit Claire Ashcraft 43.jpg
//-Lorenzo Wood Photo Credit Claire Ashcraft 44.jpg
//-Lorenzo Wood Photo Credit Claire Ashcraft 53.jpg
//-Lorenzo Wood Photo Credit Nikki Maguire 7176.jpg




block more-credits
	span.dimmer Photo credits: Claire Ashcraft, Nikki Maguire, Dave Weiland (See individual file names), Lucy Gigli (if not specified in file name)
