extends ../_layout.pug


block vars
	- var pageTitle = 'Photos'
	- var currentClass = 'photos'
	- var description = 'Photos of Lorenzo Wood, musician from the San Francisco Bay Area'

//- Make the scaled images be 960 pixels wide; put original ones into orig/ folder.
block main
	section
		p: i Photos may be used by the press, blogs, etc.; click to get larger version. Please credit photographers listed in file names.

		article.masonry
			a(target='_BLANK' href='orig/Lorenzo Wood 0221.jpg'): img.item(src='Lorenzo Wood 0221.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood and band performing in Alameda')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Dave Weiland 02.jpg'): img.item(src='Lorenzo Wood Photo Credit Dave Weiland 02.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 8974.jpg'): img.item(src='Lorenzo Wood 8974.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 4965.jpg'): img.item(src='Lorenzo Wood 4965.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood and band at Alameda Mini Maker Faire, 2018')
			a(target='_BLANK' href='orig/Lorenzo Wood 8915.jpg'): img.item(src='Lorenzo Wood 8915.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 6135.jpg'): img.item(src='Lorenzo Wood 6135.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood onstage at The Starry Plough, Berkeley')
			
			a(target='_BLANK' href='orig/Lorenzo Wood 0691.jpg'): img.item(src='Lorenzo Wood 0691.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood busking in downtown San Francisco')
			a(target='_BLANK' href='orig/Lorenzo Wood 9179.jpg'): img.item(src='Lorenzo Wood 9179.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood and band performing in Oakland')
			a(target='_BLANK' href='orig/Lorenzo Wood 8967.jpg'): img.item(src='Lorenzo Wood 8967.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 9651.jpg'): img.item(src='Lorenzo Wood 9651.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood performing at Alameda Mini Maker Faire, 2018')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 42.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 42.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 9286.jpg'): img.item(src='Lorenzo Wood 9286.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood and band performing in Alameda')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 11.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 11.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 9023.jpg'): img.item(src='Lorenzo Wood 9023.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 9073.jpg'): img.item(src='Lorenzo Wood 9073.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 8901.jpg'): img.item(src='Lorenzo Wood 8901.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Dave Weiland 01.jpg'): img.item(src='Lorenzo Wood Photo Credit Dave Weiland 01.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 9111.jpg'): img.item(src='Lorenzo Wood 9111.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood and band')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 44.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 44.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Nikki Maguire 7176.jpg'): img.item(src='Lorenzo Wood Photo Credit Nikki Maguire 7176.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood on the Blue Lodge stage at the Bear Music Festival')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 53.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 53.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood with the USS Hornet in the background')
			a(target='_BLANK' href='orig/Lorenzo Wood 9604.jpg'): img.item(src='Lorenzo Wood 9604.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood and @maddieb_music performing at Alameda County Fair')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 33.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 33.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 9560.jpg'): img.item(src='Lorenzo Wood 9560.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood performing at Alameda County Fair')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 43.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 43.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 0478.jpg'): img.item(src='Lorenzo Wood 0478.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 22.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 22.jpg' alt='Lorenzo Wood Music' title='')

block more-credits
	span.dimmer &nbsp; Photo credits: Claire Ashcraft, Nikki Maguire, Dave Weiland (See individual file names), Lucy Gigli (if not specified in file name)
