extends ../_layout.pug


block vars
	- var pageTitle = 'Photos'
	- var currentClass = 'photos'
	- var description = 'Photos of Lorenzo Wood, musician from the San Francisco Bay Area'

block append links
	link(href=cloudRawPrefix + "css/component_aos.css" rel="stylesheet")
	include ../_noscript_aos.html

include _photos.pug

block more-credits
	span.dimmer Photo credits: Claire Ashcraft, Dave Weiland (See individual file names). No credit requested if photographer not specified in file name.

block prepend scripts
	script(src=cloudRawPrefix + "js/aos.js")
	script AOS.init({disable:'mobile',once:true});
