extends ../_layout.pug


block vars
	- var pageTitle = 'Photos'
	- var currentClass = 'photos'
	- var description = 'Photos of Lorenzo Wood, musician from the San Francisco Bay Area'

include _photos.pug

block more-credits
	span.dimmer Photo credits: Claire Ashcraft, Nikki Maguire, Dave Weiland (See individual file names), Lucy Gigli (if not specified in file name)
