extends ../_layout.pug


block vars
	- var title = 'Photos'
	- var current = 'Photos'
	- var description = 'Photos of Lorenzo Wood, musician from the San Francisco Bay Area'

//- Make the scaled images be 960 pixels wide; put original ones (after JPEGMini) into orig/ folder.
block main
	section
		article.masonry
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Nikki Maguire 7176.jpg'): img.item(src='Lorenzo Wood Photo Credit Nikki Maguire 7176.jpg' alt='Lorenzo Wood Music' title='Lorenzo Wood on the Blue Lodge stage at the Bear Music Festival')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 11.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 11.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 9111.jpg'):                                     img.item(src='Lorenzo Wood 9111.jpg'                                     alt='Lorenzo Wood Music' title='Lorenzo Wood and band')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 33.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 33.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 0005.jpg'):                                     img.item(src='Lorenzo Wood 0005.jpg'                                     alt='Lorenzo Wood Music' title='Lorenzo Wood opening for The Sun Kings, July 4 2017')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 22.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 22.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 59.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 59.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 53.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 53.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 4405.jpg'):                                     img.item(src='Lorenzo Wood 4405.jpg'                                     alt='Lorenzo Wood Music' title='Lorenzo Wood performing at Jack London Square, Oakland')
			a(target='_BLANK' href='orig/Lorenzo Wood 4965.jpg'):                                     img.item(src='Lorenzo Wood 4965.jpg'                                     alt='Lorenzo Wood Music' title='Lorenzo Wood and band at Alameda Mini Maker Faire, 2018')
			a(target='_BLANK' href='orig/Lorenzo Wood 6557.jpg'):                                     img.item(src='Lorenzo Wood 6557.jpg'                                     alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 44.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 44.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 9101.jpg'):                                     img.item(src='Lorenzo Wood 9101.jpg'                                     alt='Lorenzo Wood Music' title='Lorenzo Wood and band')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Nikki Maguire 7297.jpg'): img.item(src='Lorenzo Wood Photo Credit Nikki Maguire 7297.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 9179.jpg'):                                     img.item(src='Lorenzo Wood 9179.jpg'                                     alt='Lorenzo Wood Music' title='Lorenzo Wood and band performing in Oakland')
			a(target='_BLANK' href='orig/Lorenzo Wood 9286.jpg'):                                     img.item(src='Lorenzo Wood 9286.jpg'                                     alt='Lorenzo Wood Music' title='Lorenzo Wood and band performing in Alameda')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 43.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 43.jpg' alt='Lorenzo Wood Music' title='')
			a(target='_BLANK' href='orig/Lorenzo Wood 9651.jpg'):                                     img.item(src='Lorenzo Wood 9651.jpg'                                     alt='Lorenzo Wood Music' title='Lorenzo Wood performing at Alameda Mini Maker Faire, 2018')
			a(target='_BLANK' href='orig/Lorenzo Wood 9604.jpg'):                                     img.item(src='Lorenzo Wood 9604.jpg'                                     alt='Lorenzo Wood Music' title='Lorenzo Wood and @maddieb_music performing at Alameda County Fair')
			a(target='_BLANK' href='orig/Lorenzo Wood 6135.jpg'):                                     img.item(src='Lorenzo Wood 6135.jpg'                                     alt='Lorenzo Wood Music' title='Lorenzo Wood onstage at The Starry Plough, Berkeley')
			a(target='_BLANK' href='orig/Lorenzo Wood Photo Credit Claire Ashcraft 42.jpg'): img.item(src='Lorenzo Wood Photo Credit Claire Ashcraft 42.jpg' alt='Lorenzo Wood Music' title='')


block more-credits
	span.dimmer &nbsp; Photo credits: Claire Ashcraft, Lucy Gigli
