extends ../_layout.pug


block vars
	- var title = 'Photos'
	- var current = 'Photos'
	- var description = 'Photos of Lorenzo Wood, musician from the San Francisco Bay Area'

block main
	section
		article.masonry
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood.jpg'    alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-2.jpg'  alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-3.jpg'  alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-4.jpg'  alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-5.jpg'  alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-6.jpg'  alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-7.jpg'  alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-8.jpg'  alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-9.jpg'  alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-10.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-11.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-12.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-13.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-14.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-15.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-16.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-17.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-18.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-19.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-20.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-21.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-22.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-23.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-24.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-25.jpg' alt='Lorenzo Wood Music')
			a(href='foo' target='_BLANK'): img.item(src='Lorenzo Wood-26.jpg' alt='Lorenzo Wood Music')



block more-credits
	span.dimmer &nbsp; Photo credits: Claire Ashcraft
