extends ../_layout.pug


block vars
	- var title = 'Book Lorenzo Wood'
	- var current = 'Booking'
	- var description = 'Book Lorenzo wood for a private party, house concert, or other event!'

block main
	section
		article.textual
			blockquote "Had the pleasure of booking Lorenzo Wood and his band at West End Night Market on Webster in Alameda... It was great to see these teenagers writing and performing originals! Solid set, professional and easy to work with. Fantastic Lorenzo is also into the sound/producing side; this young man will do nothing but keep improving and entertaining."
				footer Tanoa Stewart / A-Town Agency
		article.textual
			header
				h1 Private Events
			img.right(src="wedding.jpg", alt="Lorenzo Wood performing at a 2017 wedding in Berkeley, CA")
			p.
				I have played a number of private events — dinner parties, company parties, holiday parties, and weddings. I may be available for <b>your</b> event! 
			p.
				If you have a special event on a specific day that you’d like me to perform, please get in touch.
			p.
				I can set up in a variety of musical configurations — singing with acoustic/electric guitars, your piano or my keyboard, and either with or without a looper for more elaborate song arrangements. Special requests for songs you want to hear are happily arranged in advance.
			p.
				The price will depend on the length of time and the rehearsals and special songs that are needed.
			p.
				Contact me to make arrangements!


	section.clearfix
		article.textual
			header
				h1 Public Events

			p.
				I am available — performing solo (guitars, keyboard, and looper) — or with advance arrangement, with a full band — at public events such as street festivals, performing a mix of well-known cover songs and my own songs.
			p.
				I'm also interested in busking (street performing) at public events, for minimal or no charge to the event organizers, if I can set up in a high-traffic area and leave my guitar case open for tips. If AC power is available for amplification that's helpful, or I can bring my own power supply.
			p.
				Contact me to make arrangements!

			img.half(src="misc.jpg" alt="Lorenzo Wood performing at a festival in Walnut Creek, CA, in 2018")
			img.half(src="band.jpg" alt="Lorenzo Wood and band performing at a street festival in Alameda, CA, in 2018")


	section.clearfix
		article.textual
			header
				h1 House Concerts
			img.right(src="house-concert.jpg" alt="Lorenzo Wood performing at a house concert/block party in 2018")

			p.
				If you live in the San Francisco Bay Area and are interested in hosting a show, please send me an email to introduce yourself!

			h2 What’s a house concert?
			p.
				A house concert is when you invite your closest friends, family, coworkers & neighbors to watch me perform a 1 or 2 hour show in your cozy space. Minimum required guests are 20 people (10 for a mini-concert) but more are warmly invited! The show can be held in your living room, backyard, patio, garage, church, etc. Almost any space will do. As long as there is enough seating for all your guests, and a power outlet.
			p.
				My concerts include original and cover songs. Low key relaxing events where everyone is a part of the music. I will invite your guests to sing with me. Let me know of any special songs you would like me to prepare. The funnest part of the concert for me is singing and playing with others.

			h2 How much does it cost?
			p.
				The cost of a House Concert depends on when you’d like to host a show, and how you’d like to show your support. Each show is different and unique. There are two options to choose from that help me be an independent artist:
			dl
				dt Regular House Party
				dd.
					$200 deposit + $200 minimum guarantee at show (can be covered by guests or the host). See below for details.
				dt Mini Concert
				dd.
					If you aren't able to get together a big group, I'll do a mini concert — 10 songs for 10 people for 10 dollars each. Since I don't make as much and I'm performing a shorter set, this is limited to areas close to my East Bay home, and I won't have as elaborate of a technical setup.
				dt Special Event
				dd.
					If you have a special event on a specific day that you’d like me to perform (wedding, birthday, holiday / work parties, etc.) please get in touch. See the "Private Events" section above for more details.
			p.
				DEPOSIT INFO: The deposit acts as a booking fee to lock in your date for the show.  If you have to cancel the show, this deposit is fully refundable up until 4 weeks before the booked date. 
			p.
				Also — The fact that you have graciously even considered hosting a show is HUGELY appreciated, because it means that you believe in supporting artists like me, who are working to build our own paths in music, one house concert at a time.
			
			h2 What about the equipment, sound, etc?
			p.
				I provide all of the equipment to ensure the music sounds great. You provide the power outlet. If you can provide a real piano in the performance space, I can definitely use it to round out the songs I perform. (If not, no worries - my keyboard sounds great too!) There will be singing, acoustic/electric guitar, keyboards, and the looper for percussion, bass and harmonies.  If your space is more intimate and you require a fully unplugged show, let's work something out.

			p.
				Until I get my driver’s license, my parents provide my transportation. One or both will attend the show and help with equipment setup and staff the merchandise table.
			p.
				If you have food & drink at the show, please make sure to set some aside for me and my crew. I perform best when I'm not hungry!
			
			h2 How should I invite my friends?!
			p.
				Promoting the show will be just like promoting your own house party. You can send emails, call or text or even print out invitations and send them via snail mail!  I’ve found that events sent personally with a service like Evite or email works better than Facebook, as people often brush off Facebook events since they are so common and don't require a commitment. If you do plan on making a Facebook event, perhaps consider pairing it with another form of invitation to really get the word out! Also, sending multiple reminders and getting an RSVP before the show will be a significant factor to ensure full attendance!  

				 
			h2 Do you sell merchandise?
			p.
				I have CDs, download cards, and maybe even t-shirts to sell! I have my own table set up or we can use yours if it is placed in a good spot. I like it to be WELL LIT and visible to everyone coming in to the show, so perhaps at the entrance is a good spot.
			p.
				Please also write about the merchandise on your invitations so that your guests are aware: e.g. “Lorenzo will also be selling CDs and merchandise after the concert should you wish to purchase a keepsake from the evening.”

			
			h2 Can I invite children or pets?
			p.
				Yes and no. Many kids ages 8-18 know the popular songs I cover, so this might be great for them. Kids tend to want to dance and sing along, which is fine. Obviously, loud or crying children should be separated until they are comforted.
			p.
				A suggestion I can recommend if there are lots of children in your friend group, is to hire a babysitter or assistant for the evening. It takes a lot of distraction and stress off parents during the show, and generally works very well for hosts and all guests invited!
			p.
				Pets should not attend the show. While my own dogs LOVE my music, unfortunately, pets are unpredictable, so I prefer to have a pet-free environment while performing.

			h2 What else?
			p.
				Lighting is really important if you’re hosting a show - especially outdoors. Mood lighting / twinkle lights, tikki torches near the stage are great.
			p.
				Please try and have some lighting directly on or near me if the show will get into late hours. Also, please have extra lighting (like a table lamp) that can be placed near my merch table so that people will be able to see when purchasing keepsakes.

			h2 What if I have to cancel?
			p.
				Sometimes life happens, and things get in the way. I totally get it! Although it’s a huge bummer not getting a chance to meet you and your awesome friends, it’s OK if you have to cancel. Just please try and give me as much notice as possible! If you are able to cancel the show 4 weeks prior, your deposit will be refunded in full. If you cancel after the 4-week period has passed, your deposit will be forfeited. This helps on my end to make up a bit of the financial loss that comes from a cancelled show.

			p.
				If you have ANY other questions, I am just an email away. I truly can’t wait to meet you and all your awesome fam/friends/neighbours and perform in your lovely home!


			p: i Acknowledgement to <a href="http://thelovelyindie.com/house-concerts/">The Lovely Indie</a> for much inspiration for this guide.


