extends _layout.pug


block title
	title Lorenzo Wood Music — Official Site
	//- overrides generated page title used on other pages
	

block main

	section.bio

		header.ir(aria-hidden="true")
			h2 Google Verification
		article.textual

			
			p.
				This is a screenshot of a special page on the LorenzoWoodMusic.com website to show that yes I am requesting verification.



