extends _song.pug

block prepend prelude
	<?php $slug = 'drown';?>

block vars
	- var privateSoundCloud = 'https://soundcloud.com/lorenzowoodmusic/drown/s-NNq3bzGrIit'

	- var privateSoundCloudEmbed = '<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/814166620%3Fsecret_token%3Ds-NNq3bzGrIit&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>'



	//- used for link page (without file extension) and to identify cover file.
	- var artworkDesigner = 'Kyle Wonzen'
	- var artworkDesignerURL = 'http://designology.co'

block song

	p
		b This is a breakup song. But unlike most breakup songs,
		|
		| this takes place before the breakup and is from the perspective of the person finding that they need to initiate it. It’s about the turmoil in deciding to put an end to a relationship that isn’t quite cutting it.

	p.
		Starting with an acoustic foundation, then morphing into a percussion-heavy atmosphere — Layers of acoustic drums and percussion layered with a mainstream trap beat — conveying the stress, frustration and pain in the lyrical content.


	blockquote
		p.
			This song gave me the most relieving cry session. Somehow he managed to convey all the conflicting thoughts and feelings I had during my first relationship and I finally feel so understood. 
		p.
			The song begins with a sweet guitar solo - the calm before the storm. Throughout the song, the artist's voice is effortlessly beautiful. Emotional lyrics follow the internal conflict between the protagonist and their thoughts. Should they end the relationship now that the spark is gone and hurt the other person? Or must they endure unhappiness for the sake of the other person? He doesn’t give us an answer, but he does depict the situation with powerful metaphors of cages, flight, and succumbing to the pool of your darkest thoughts. 
		footer
			a(href="https://www.unheardgems.com/post/drown-lorenzo-wood-review-premiere") Unheard Gems
			|
			| : “Drown” - Lorenzo Wood | Review &amp; Premiere
	
	blockquote
		p.
			We all know that great music is written based on personal experiences and real emotions, especially the breakup song theme. Lorenzo Wood’s Drown uses a fresh perspective from the person who has to do the breaking up and the horrific anxiety that ending a relationship causes, especially when no one has warranted the change of heart. Sometimes it just happens. I think the lyrics to this song reflect these complex emotions.
		footer
			a(href="https://neonmusic.co.uk/a-fresh-perspective-from-lorenzo-wood-with-drown") Neon Music
			|
			| : A Fresh Perspective From Lorenzo Wood With Drown


block lyrics
	pre.textual.
		I feel boxed in
		Like a bird in a cage who’s just stuck
		Aside from my heart
		Well the cage has everything I want 

		But I wish I could fly
		Just spread my wings and fly
		But I can’t 
		Yea I can’t with you in my life

		‘Cause no road I take will leave us both okay 
		No path I choose will make things right 
		No choice I make will end with us feeling good
		So all I can do is drown in my thoughts tonight

		You‘ve been good, yeah you treated me well no matter what 
		Everything feels right, just except for my heart   

		It’s not like it was before 
		Things feel different,  now I don’t belong here
		All the memories of us that were good are now gone 

		‘Cause no road I take will leave us both okay 
		No path I choose will make things right 
		No choice I make will end with us feeling good
		All I can do is drown in my thoughts tonight

		Today’s gonna be the day
		Don’t know what I’m gonna say
		There’s no way to do this where it won’t hurt
		So just tell me I’m gonna be alright and it won’t get worse 

		‘Cause no road I take will leave us both okay 
		No path I choose will make things right 
		No choice I make will end with us feeling good
		All I can do is drown in my thoughts tonight

block credits
	p.
		Music and Lyrics, Vocals, Production, Guitar, Mandolin, Piano/Keys, Drums/Percussion: Lorenzo Wood
	p.
		Mixed by Chris Krotky
	p.
		Mastered by Lorenzo Wood
