extends _song.pug

block prepend prelude
	<?php $slug = 'lonely-nights';?>

block vars


	- var privateSoundCloud = 'https://soundcloud.com/lorenzowoodmusic/lonely-nights-mm11/s-D4EvtJkiom0'

	- var privateSoundCloudEmbed = '<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1248441490%3Fsecret_token%3Ds-D4EvtJkiom0&color=%234c0000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/lorenzowoodmusic" title="Lorenzo Wood" target="_blank" style="color: #cccccc; text-decoration: none;">Lorenzo Wood</a> · <a href="https://soundcloud.com/lorenzowoodmusic/lonely-nights-mm11/s-D4EvtJkiom0" title="Lonely Nights - Releasing May 6 2022" target="_blank" style="color: #cccccc; text-decoration: none;">Lonely Nights - Releasing May 6 2022</a></div>'

block song

	h3.
		Press release for community of USC & Thornton School of Music

	p:i.
		Embargoed until May 6, 2022

	p.
		USC Sophomore Lorenzo Wood, a music production major in Thornton School of Music, is releasing his first new single since 2020.  <b>LONELY NIGHTS</b> is a trappy guitar-based pop-punk lament that balances between the optimism of someday finding someone to love, and the darkness of being alone.
	p.
		This song has several distinct sections that span various styles of music — the contemplative trap-like first part; at 1:25 a new verse brings in heavy guitar elements that let loose at 1:58 or so; at 2:36, a banger guitar solo and the final chorus.


	p. 
		Lorenzo writes:

	blockquote

		p.
			I wrote LONELY NIGHTS originally for a songwriting class assignment to write something in a minor key. It summarized how I was feeling over the course of the year. Last year my roommates had gotten into relationships and I felt left out.
		p.
			I didn’t want it to be a totally depressing song so I added a bit of optimism, thinking about the future and what I want.
		p.
			I thought the energy of the hip-hop drums and 808 and the electric guitars encapsulated the angst and emotion I was trying to convey. 
			I had just bought a hollow body electric guitar, a D’Angelico EXL-1, and I sat down to write with it. That guitar inspired me to create some fresh sounds.
		p.
			It had been a while since I had last released a song, so I really got to re-imagine my sonic signature.
			And since then, I’ve been creating more songs inspired by that sonic palette.
			I’ve been spending so much time producing other people’s songs, that this was the first song in a while where I really got to focus on my own sound.

	h3 Background

	p Just before starting USC in 2020, during lockdown, Lorenzo released three singles of his own songs (<a href="https://www.lorenzowoodmusic.com/link/more-than-friends">More than Friends</a>, <a href="https://www.lorenzowoodmusic.com/link/still-need-love">Still Need Love</a>, <a href="https://www.lorenzowoodmusic.com/link/drown">Drown</a>), and several covers under the band named 2AM in the Basement.

	p One of these was a <a href="https://www.lorenzowoodmusic.com/link/falling">cross-country collaboration of a cover of Harry Styles' "Falling"</a> along with 11 other young musicians, many of whom he had met when applying for music schools, and some of whom ended up at USC Thorton, including violinist Anna Renton and _____________.

	p Since joining the music production program at Thornton School of Music, Lorenzo has collaborated with a number of fellow Thornton students doing music production, video production, and live sound, for instance:
	ul
		li Production for "Pass in Time" from Ethan Danto, just released April 29th, and "For You" from Aden Black, released in March.
		li Recording support such as mixing, mastering, engineering, and vocal production for recent releases by Elly Shane, Alex Oliva and Jillian Batt, 
		li Running live sound the student stage at USC Springfest, Coast to Coast, Tiny Dorm concerts, USC Musical Theatre Repertory, and live performances by Alex Oliva
		li OTHER??? Has collaborated with other students _____________ (on forthcoming stuff we can talk about?)

	p.
		Lorenzo also done video production, working with Bay Area musician Sam Johnson, and collaborating with fellow Thornton student Langdon Dearborn to create a music video for "Monsters on TV" and shoot the band's performance at last year's Bottle Rock music festival in Napa.

	h3 More information about the songs listed above
	ul
		li <a href="https://www.lorenzowoodmusic.com/press/more-than-friends">More than Friends - press & media</a>
		li <a href="https://www.lorenzowoodmusic.com/press/still-need-love">Still Need Love - press & media</a>
		li <a href="https://www.lorenzowoodmusic.com/press/drown">Drown - press & media</a>
		li <a href="https://www.lorenzowoodmusic.com/press/falling">Falling - press & media</a>


block lyrics
	pre.textual.
		It’s just another night I’m alone in my bed
		Been too damn long it’s all getting to my head
		Thoughts keep flowing by and the bad ones stay with me
		All I ever wanted was someone to lay here with me

		I know I’ll probably find someone someday that lights my life
		Til then
		Guess I’ll have to get used to all these lonely nights

		Was with my fellas
		They with their ladies
		We drinkin modelos 
		We gettin faded

		We say our goodbyes
		Go back to our places
		Now I’m alone while they all prolly getting laid yuh

		Feel like I’m missing out
		That I’m inadequate
		Pour me another shot to help me to forget
		Help me to forget

		That it’s just night I’m alone in my bed
		Been too damn long this shit’s messing with my head
		Thoughts keep flowing by and the bad ones stay with me
		All I ever wanted was someone to lay here with me

		I know I’ll probably find someone someday 
		That lights my life
		Til then
		Guess I’ll have to get used to all these lonely nights

		I dream about the day when 
		I’m livin large and thriving
		A brand new house with
		A Bentley up the driveway

		But that shit ain’t important
		All I really need is one thing
		To wake up every morning 
		With my honey right beside me


		She gets all my jokes
		Got chemistry like lightning
		Her voice just like an angel  
		And she likes to cook beside me 


		So every night we 
		Hop in that king size 
		Stay up a little longer 
		Make up for all that lost time 
		When it was

		Just another night I’m alone in my bed
		Been too damn long this shit’s getting to my head
		Thoughts keep flowing by and the bad ones stay with me
		All I ever wanted was someone to lay here with me

		I know I’ll probably find someone someday 
		That lights my life
		Til then
		Guess I’ll have to get used to all these lonely nights


		Feel like I’m missing out
		That I’m inadequate
		Pour me another drink am I an addict yet?

		Fuck that

		It's just another night I’m alone in my bed
		Been too damn long this shit’s getting to my head
		Thoughts keep flowing by and the bad ones stay with me
		All I ever wanted was someone to lay here with me

		I know I’ll probably find someone someday 
		That lights my life
		Til then
		Guess I’ll have to get used to all these lonely nights