block main
	section
		article.textual
			h1.
				About Lorenzo Wood

			div.clearfix

				- var cloudImgAutoPrefix = 'https://res.cloudinary.com/avfivcfiwkvgmspufqrh/image/upload/f_auto,q_auto/lwm/';
				- var cloudImgOrigPrefix = 'https://res.cloudinary.com/avfivcfiwkvgmspufqrh/image/upload/lwm/';

				//- link to the original JPEG image but let CDN serve a more optimized format
				a(href=cloudImgOrigPrefix +"photos/orig/Lorenzo%20Wood%206190.jpg")
					img.bio.right(src=cloudImgAutoPrefix + "photos/Lorenzo%20Wood%206190.jpg", width=960, height=640, alt="Lorenzo Wood")

				p.
					Lorenzo Wood is a musician, songwriter, producer, and vocalist from the San Francisco area now based in LA. His heartfelt, honest lyrics present a personal perspective of friendships, relationships, and coming of age in the modern era of social media. His songs, rooted in the pop genre, borrow from a number of different musical styles to create a distinctive mix of real instruments and electronic sounds.
	
				p.
					In addition to recording and producing songs and videos in his home studio, Lorenzo enjoys taking music to the stage. With a skillset in music performance technology, he puts together unique, intricate live setups that make his performances stand out.

				p.
					Lorenzo lists Maroon 5, U2, Shawn Mendes, Owl City, and Charlie Puth as his initial musical influences. But now he feels his style resembles more that of artists like Bazzi, Julia Michaels, Post Malone, Machine Gun Kelly and Jonas Brothers.

			h3 Performance

			p.
				Lorenzo has been performing and recording his songs since a young age. At age 13, he discovered busking, and has been performing primarily at street festivals in the San Francisco Bay Area every summer/fall until 2020.

			p.
				In 2018, while releasing his first EP at the age of 15, he put together and hired a band to play the newly released songs with him on stage. He performed again in 2019 with a new lineup.

			p.
				Lorenzo has also performed as a member of several local bands. Recently he has supported Kat Van Morgan, Saint Benjamin, and others, playing whatever instruments were needed.

			p.
				For many of his own performances and those of others, Lorenzo coordinates and runs live sound, being knowledgeable and experienced with most audio and musical equipment.


			h3 Production

			p.
				All of Lorenzo's released songs are self-produced. Recently, Lorenzo has been focusing on music production for other artists.  He has been the producer of songs from Sam Johnson, Ethan Danto, Aden Black, Kat Van Morgan, Hannah Faith.  He has also contributed vocal production, mixing and mastering, engineering for those artists as well as Elly Shane, Alex Oliva and Jillian Batt.

			p.
				Lorenzo has also produced music videos for his own releases and Sam Johnson, as well as shooting and recording a number of live performance videos.

			h3 Awards

			p.
				Lorenzo was a merit winner in the 2020 <a href="http://www.youngarts.org/winners">National YoungArts Foundation</a> in the category of Voice/Singer-Songwriter. He joins some of the nation’s most accomplished artists in the visual, literary and performing arts and was selected based on his caliber of artistic achievement by an esteemed discipline-specific panel of artists through a rigorous blind adjudication process. This year’s award winners represent the top 9.5% of applications across ten artistic disciplines.

			p.
				Lorenzo was awarded a grant in 2019 from the <a href="https://www.hunterwatson.org">Hunter Brooks Watson Memorial Fund</a> of McLean, Virginia. This fund seeks out young people who dream of something they are deeply curious and passionate about, then provides them with financial resources to explore that passion. The grant was awarded for Lorenzo to upgrade his home music studio. <a href="https://static1.squarespace.com/static/5d39310e96ef000001b54025/t/5d77b2f6ad1ebf5ae039115f/1568125687968/Spring+Web+Newsletter+2019+Optimized.pdf">[Newsletter article]</a> <a href="https://www.hunterwatson.org/hunter-blog/hunter-grants-winners-steps-toward-his-music-career">[Update blog post]</a>

			p.
				Lorenzo is a frequent participant in <a href="https://www.westcoastsongwriters.org">West Coast Songwriters</a>. His songs have won numerous "Song of the Month" awards since 2018. His song "Jacket" won "Best Song of the Year" in 2019 with the Redwood City chapter of West Coast Songwriters, and was a finalist in West Coast Songwriter's Song of the Year competition.

			p.
				"Jacket (I'm Sensitive)" was selected as honorable mention (in the top 15) in the 2019 International Songwriting Competition, which received over 18,000 submissions.


			h2 Social Media

			p Lorenzo Wood can be found with the user name "lorenzowoodmusic" on most social media networks.

			ul.socials
				li: a(data-title="Instagram" href="https://instagram.com/LorenzoWoodMusic")
					svg(style="stroke:#e95950"): use(xlink:href="/svg/page_home5.svg#instagram")
					|Instagram
				li: a(data-title="TikTok" href="https://tiktok.com/@lorenzowoodmusic")
					svg: use(xlink:href="/svg/page_home5.svg#tiktok-bw")
					|TikTok
				li: a.smaller(data-title="Facebook" href="https://facebook.com/LorenzoWoodMusic")
					svg(style="fill:#3b5998"): use(xlink:href="/svg/page_home5.svg#facebook")
					|Facebook
				li: a(data-title="YouTube" href="https://www.youtube.com/lorenzowoodmusic")
					svg(style="fill:#b00"): use(xlink:href="/svg/page_home5.svg#youtube")
					|YouTube
				li: a(data-title="BandsInTown" href="https://www.bandsintown.com/lorenzowoodmusic")
					svg: use(xlink:href="/svg/page_home5.svg#bandsintown")
					|BandsInTown

			h2 Contact Info

			p Email: <a href="mailto:info@lorenzowoodmusic.com">info@lorenzowoodmusic.com</a>.
			p Booking: ☎ <img class="ghost" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAAAOBAMAAAA8gTSSAAAAGFBMVEX///8GBgZfX1+/v7/f399/f3+fn58/Pz/0OKciAAAA30lEQVR4XtWRwUrDUBRED+/lNetrW9xG6AdchabbbKrbCsF1ggu3poZ+v2UutOQHBGcRDmeYXEL485h9c2ygeppRqmlGhmInmXczh9EFUUED+dJA6hJK7YcwnDuUntJRXVygSrt4HK8OCJApqpQEdesBhJ5sELasXCL5S5Q1t+zhQ/VelVLNwk/ykMweyLaOMj1vkYGeqtGuv+94Xd5780MXu10ZiDQUs43gvmuX36cXaCcPkE8gK5Bc7fIsrP2L5b18u1c67QJix/jo2Wyt36bk6QcZxi2RBGAbgap/k18A4SCIF3ziIAAAAABJRU5ErkJggg==" alt="" />
			p Lorenzo Direct: ☎ <img class="ghost" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAAAOCAMAAAD5cdmTAAAAGFBMVEX///+/v78FBQXf398/Pz9fX1+fn59/f3+gQYbBAAAAzklEQVR42u2TyxbDIAhECwP4/39cQlKI2KSbrno6izjqHR+H+Ph1sUu8xdB9AMqCCSFhoZhygzKpi7gxLfBBkdjhFPtgScin35jQdRxi1OBaOaHhn4FH00BONeYyLmS0LCjMbCeetk5w8+mD8HNqmVk9PizaFYageKMjpLxJA2COIHEzyaxxaHQKLsE+3k7hWFShzO3tBm/qcDH3tcPIpcrc1y6QBpvitbfmf2iy2zNCt7fr8dyuw8bxqIg30fqmCnFIJpO6iPsIEv7ry3oCwzcEhnvsnVwAAAAASUVORK5CYII=" alt="" />




			h2 Press Coverage

			// May 7 2020
			p: a(href="https://alamedasun.com/news/teen-musicians-cover-song-relief-funds") Teen Musicians Cover Song for Relief Funds

			// May 30 2019
			p: a(href="https://alamedasun.com/news/young-alameda-musician-releases-new-single") Young Alameda Musician Releases New Single

			// Feb 21 2019
			p: a(href="https://alamedasun.com/news/newspaper-article-helps-student-procure-grant") Newspaper Article Helps Student Procure Grant

			// Aug 29 2018
			p: a(href="https://www.dailycal.org/2018/08/29/chocolate-chalk-art-festival/") North Berkeley’s Chocolate & Chalk Art Festival makes for a lively art- and food-filled experience

			// May 17 2018
			p: a(href="https://alamedasun.com/news/downtown-alameda-celebrates-mom-spring-festival") Downtown Alameda Celebrates Mom at Spring Festival

			// May 10 2018
			p: a(href="https://alamedasun.com/news/local-musicians-headline-spring-festival") Local Musicians Headline Spring Festival


