.icon {
	
	&.instagram svg { stroke:#e95950 }
	&.facebook  svg { fill:#3b5998 }
	&.youtube   svg { fill:#b00 }
	&.spotify   svg { fill:#1ED760 }
	&.tiktok-color svg { fill:#FFFFFF }
}




.icons.icons-footer {
	background-color:var(--cDarkH);
}

.icons {
	.icon {
		width:10vw;
		height:10vw;
		display:inline-block;

		margin:1vw;

		svg {
			height:100%;
			width:100%;
		}

		&.smaller svg {
			height:90%;
			width:90%;
			margin:5%;
		}
	}
}

// Keep icons-5 in case we go back to 5 icons
.icons-5 .icon:first-child { /* Left margin for shorter icon list */
	margin-left:21vw;	// room for 5. 10*5+2*5 = 60, so 20 each side. This replaces the 1vw of the left one so 20+1
}

.icons-4 .icon:first-child { /* Left margin for shorter icon list */
	margin-left:27vw;	// room for 4. 10*4+2*4 = 48, so 26 each side. This replaces the 1vw of the left one so 26+1
}


.icons-2 .icon:first-child { /* Left margin for shorter icon list */
	margin-left:38vw;	// room for 2. 10*2+2*2 = 24; 100-24=76; 38 on each side. Well, pretty close
}


/* Special hover tooltip-like display over social icons */
.icons {
	a {
		position:relative;
	}
	a::after {
		padding:0 5px;
		font-size:80%;
		background-color:var(--cPaperH);
		color:var(--cInkH);
		border-radius:5px;
		box-shadow:0 0 8px 8px var(--cPaperH);
		line-height:1;

		content:attr(data-title);
		position:absolute;
		left:10%;
		bottom:8px;
		text-align:center;
		display:block;

		opacity:0; /* Invisible until hovered */
		transition:opacity .3s ease-in-out;
	}
	a:hover::after {
		opacity:0.75;
	}
	a:last-child::after {	/* Also need to do below for 5th icon when we have two rows! SEE BELOW */
		right:15%;			/* plenty of room for shadow effect to not overflow the container on phone */
		left:auto;
	}
}


@media only screen and (max-width:($mainBreakpoint - 1px)) {

	/* Bigger social media icons on mobile ... 5-up */
	.icons .icon {
		width:18vw;
		height:18vw;
	}

	.icons-5 .icon:first-child {
		margin-left:1vw;
	}
	.icons-4 .icon:first-child {
		margin-left:10vw;
	}
	.icons-2 .icon:first-child {
		margin-left:30%;
	}

	// Make the logo come up next to the hamburger menu
	.banner svg {
		max-width:75%;
	}

}


@media only screen and (max-width:320px) {

// For a really small screen, make them 3 across when there are 5 icons

	/* Bigger social media icons on mobile ... 3-up */
	.icons-5 .icon {
		width:31vw;
		height:31vw
	}

	.icons-5 .icon:first-child {
		margin-left:1vw;
	}
	.icons-5 .icon:nth-child(4) {		// second row, indent to center
		margin-left:16vw;
	}

// For a really small screen, make them 4 across when there are 4 icons

	.icons-4 .icon {
		width:22vw;
		height:22vw;
		//- Should be 23 but somehow that overflows
	}

	.icons-4 .icon:first-child {
		margin-left:1vw;
	}

}
