$hamburger-breakpoint:750px;

.banner {
	background:var(--cDarkH);
	position:relative;
}

.banner a {
	text-decoration:none;
}


.banner h1 {
	margin:0;
	padding:0.5rem 0 0 1rem;
	display:inline-block;
	font-weight:400;
	color:var(--cLogo1);
	letter-spacing:3px;
	font-size:2em;
}


/*
----------------------------------------
Page Navigation Menu
----------------------------------------
*/

// Unless overridden, do not show hamburger menu
input#navigation[type="checkbox"], label.hamburger {
	display:none;
}


// ######## FULL SCREEN NAVIGATION #######

@media only screen and (min-width:$hamburger-breakpoint) {

	// similar to action banner ?

	nav.page-menu {
		display:block;
		position:absolute;
		top:0; right:0;
		text-align:center;

		ul {
			padding:0;
			margin:0;
			list-style:none;
			overflow:hidden;
			text-align:right;
		}
		li {
			margin:0;
			color:var(--cLightH);
			display:inline-block;
			line-height:1;
			font-size:$page-menu-font-size;
			font-weight:400;
			letter-spacing:4px;
			text-transform:uppercase;
		}
		a {
			color:var(--cLightH);
			text-decoration:none;
			display:block;
			padding:$page-menu-padding-v $page-menu-padding-h;
		}
		a.active {
			color:var(--cAccent);
		}
		a:hover {
			background-color:var(--cAccent);
			color:var(--cLightM);
		}
	}
}

// ######## HAMBURGER MENU NAVIGATION #######


@media only screen and (max-width:($hamburger-breakpoint - 1px)) {


	/* ===== Navigation ===== */
	// Based on https://codepen.io/marclloyd77/pen/gtypB
	// and later on https://codepen.io/plavookac/pen/qomrMw

	$menuWidth:12rem;		//
	$menuMargin:0.5rem;	// Use same units so we don't need calc
	$menuSize:32px;
	$speed:200ms;
	$nav-background:#445566;

	nav.page-menu {
		display:block;
		position:fixed;
		top:0;
		right:0;
		height:100%;
		width:$menuWidth;
		z-index:10;
		transform:translateX(250px);
		transition:transform 250ms ease-in-out;

		ul {
			width:$menuWidth;
			height:100%;
			padding:0;
			margin:0;
			list-style:none;
			background:$nav-background;
			overflow:hidden;
		}
		li {
			margin:0;
			color:var(--cPaperH)
		}
		a {
			color:var(--cPaperH);
			font-size:1rem;
			text-decoration:none;
			display:block;
			padding:12px 15px;
			font-weight:400;
			letter-spacing:2px;
		}
		a.active {
			color:var(--cAccent);
		}
		a:hover {
			background:#111;
		}
	}

	label.hamburger {
		display:block;
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		right:$menuMargin;
		width:$menuSize;
		height:25px;
		z-index:11;
		cursor:pointer;
	}

	.horizontal, .diagonal.part-2 {
		margin-top:5px;			// spacing between layers
	}

	input#navigation[type="checkbox"] {

		&:checked ~ .page-menu {
			transform:translateX(0);
		}
		&:checked ~ label {
			position:fixed;	// make sure icon doesn't scroll off of screen since whole menu is fixed
			transform:none;
			top:$menuMargin;
		}
		&:checked ~ label > .horizontal {
			opacity:0;						// fade out middle
		}
		&:checked ~ label > .diagonal.part-1 {
			transform:rotate(135deg);		// animate to diagonal
			margin-top:10px;
		}
		&:checked ~ label > .diagonal.part-2 {
			transform:rotate(-135deg);		// animate to diagonal
			margin-top:-15px;
		}
	}

	.spinner {
		transition:all 0.3s;
		position:relative;
		float:left;
		height:5px;
		border-radius:2px;
		width:100%;
		background-color:var(--cAccent);
	}
}

a.active {
  pointer-events:none;
  cursor:default;
}

