/*
----------------------------------------
YouTube
----------------------------------------
*/

/* YouTube player */

.youtube-player {
	background-color:var(--cInkH);
	position:relative;
	padding-top:56.25%;
	overflow:hidden;
	cursor:pointer;
	img { 
		width:100%;
		bottom:0; // top:-16.84%;	// needed because sddefault.jpg image is letterboxed (though other sizes aren't)
		left:0;
		mask-image:linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 25%);
	}

	img, .play-button {
		cursor:pointer;
	}
	img, iframe, .play-button, .play-button::before {
		position:absolute;
	}
	.play-button, .play-button::before {
		top:50%;
		left:50%;
		transform:translate3d( -50%, -50%, 0 );
	}

	.play-button {
		width:68px;
		height:48px;
		background-color:var(--cInkM);
		color:white;
		box-shadow:0 0 20px rgba( 0,0,0,0.6 );
		opacity:0.9;
		border-radius:6px/18px;
	}

	&:hover .play-button {
		background-color:red;
		opacity:1.0;
	}
	.play-button::before {
		content:"";
		border-style:solid;
		border-width:10px 0 10px 16.0px;
		border-color:transparent transparent transparent white;
	}
	iframe {
		height:100%;
		width:100%;
		top:0;
		left:0;
	}
	.title {
		position:absolute;
		top:12px;
		left:20px;
		color:var(--cLightH);
		text-shadow:0 1px 3px black;
		text-align:left;
	}
}
.square-video {
	margin-left:22%;
	margin-right:22%;

	img {
		max-width:180%;
		width:180%;
		margin-left:-40%;
	}
}
.youtube-border {
	padding:$typicalPadding;
	max-width:calc($typicalPadding + 1280px);	// 1280px = 720*16/9
	//margin:0 auto;		// can't - for some videos it makes it smaller!
}

@media only screen and (min-width:$mainBreakpoint) {

	.columns-4  .title {
		font-size:80%;
		line-height:1.1;
		background-color:rgba(0,0,0,0.3);
	}

}


.no-js .youtube-player::after {
	position:absolute;
	top:1em;
	left:1em;
	color:var(--cLightH);
	content:"JavaScript Required"
}
