.social-icon {
	
	&.instagram svg { stroke:#e95950 }
	&.facebook  svg { fill:#3b5998 }
	&.youtube   svg { fill:#b00 }
	&.spotify   svg { fill:#1ED760 }
	&.tiktok-color svg { fill:#FFFFFF }
}




.icon-row.icons-footer {
	background-color:var(--cDarkH);
}

.icon-row {

	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items:center;
	gap: 1vw;
	padding: 1vw 0;

	.social-icon {

		flex: 0 1 10vw;
		aspect-ratio: 1/1;

		svg {
			height:100%;
			width:100%;
		}

		&.smaller svg {
			height:90%;
			width:90%;
			margin:5%;
		}
	}
}

/* Special hover tooltip-like display over social icons */
.icon-row {
	a {
		position:relative;
	}
	a::after {
		padding:0 5px;
		font-size:80%;
		background-color:var(--cPaperH);
		color:var(--cInkH);
		border-radius:5px;
		box-shadow:0 0 8px 8px var(--cPaperH);
		line-height:1;

		content:attr(data-title);
		position:absolute;
		left:10%;
		bottom:8px;
		text-align:center;
		display:block;

		opacity:0; /* Invisible until hovered */
		transition:opacity .3s ease-in-out;
	}
	a:hover::after {
		opacity:0.75;
	}
	a:last-child::after {	/* Also need to do below for 5th icon when we have two rows! SEE BELOW */
		right:15%;			/* plenty of room for shadow effect to not overflow the container on phone */
		left:auto;
	}
}

@media only screen and (max-width:($mainBreakpoint - 1px)) {

	// Make sure these are the minimum size; may wrap (strangely) to second line
	.icon-row .social-icon {
		flex: 1 0 44px;
		max-width:60px;		// Matches breakpoint so size doesn't jump. Don't let it get too big in case it's a widow

	}

	// Make the logo come up next to the hamburger menu
	.banner svg {
		max-width:75%;
	}

}

