@import 'include_constants';

// Needs the 'hero' stuff on this page
@import 'include_hero';

/*
================================================================================

Home-Page ONLY classes.

================================================================================
*/


h2 {
    @include fluid-type(20rem, 48rem, 3rem, 3.9rem);	// at 48 rem we should now have a single line
    line-height:1;
	text-align:center;
	padding: 2rem 0 1rem 0; // use padding so that our background color is included
}

/*
----------------------------------------
Colors
----------------------------------------
*/

section.mailchimp-section {
	background-color:var(--color2);
}
section.production {
	background-color:var(--color3);
}


section.bio {
	background-color:var(--color6);
}

section.gigs {
	background-color:var(--color2);

	a {
		color:hsl(0, 35%, 43%);
	}

	a.bit-track {
		color:var(--cPaperH);
	}
}

.scrolldown {
	stroke:purple;
}


/*
----------------------------------------
Latest Releases Section
----------------------------------------
*/

.latest-releases {

	h3 {
		font-size:2rem;
		a {
			text-decoration:none;

			&:hover {
				text-decoration:underline;
			}
		}
	}
	h4 {
		font-size:100%;
		font-weight:normal;
		font-style:italic;
	}

	article {

		display:block;

		// Lots of space in between
		padding-top:4em;
		padding-bottom:4em;

		@media only screen and (min-width:$mainBreakpoint) {

			// don't need as much space
			padding-top:2.5em;
			padding-bottom:2.5em;

			display:flex;

			margin:0 auto;
			max-width:90rem;
		}
	}


	.release-image img {
		width:100%;		// override img inline dimensions
		height:auto;	// override img inline dimensions
		max-height:320px;	// help make sure square min size for square
		max-width:320px;	// if we don't specify max-width too, with square aspect ratio, it will get anamorphic
		display:block;
		transition:transform .5s ease;
		&:hover {
			box-shadow:0px 0px 5px 0px rgba(255,255,255,0.9);
  			transform:scale(1.05);
		}
	}


	.release-text p, .release-text blockquote {
		max-width:65ch;
	}

	@media only screen and (max-width:$mainBreakpoint - 1px) {

		// SEE THE coverArtSizes DECLARATION IN index.php.pug TO MAKE SURE THIS BREAKPOINT IS LINED UP WITH THAT WIDTH CALC

		.release-image img {
			margin:0 auto;
		}

		h3, h4 {
			text-align:center;
			margin-top:0.5rem;
			margin-bottom:0;
		}
	}


	@media only screen and (min-width:$mainBreakpoint) {

		.release-image {
			flex-basis:22.22%;
			z-index:10;			// make sure it goes above neighboring block. But not above modals & menus.
		}

		.release-text {
			flex-basis:38.28%;
			padding:0 2em;

			h3, h4 {
				margin:0;
			}
		}

		.no-video .release-text {
			flex-basis:77.78%;
		}

		.release-video {
			flex-basis:39.5%;	// width that makes the video be the same height as the artwork
		}
	}

	article.reversed {
		flex-direction:row-reverse;
	}

	.dark-text {
		color:rgba(0,0,0,0.9)!important;
	}
	.dark-text a {
		color:rgba(0,0,0,0.6)!important;
	}
	.light-text {
		color:rgba(255,255,255, 0.9)!important;
	}
	.light-text a {
		color:rgba(255,255,255,0.6)!important;
	}

	.release-image.bordered img {
		border:1px solid rgba(255,255,255,0.5);
	}
}




/*
----------------------------------------
Bands in Town
----------------------------------------
*/


.bit-row {
	padding:6px 0;
	border-bottom:1px solid var(--cPaperL);
}
.bit-header { 
	font-weight:bold;
}


.bit-row.bit-upcoming {
	a {
		text-decoration:none;
		color:var(--cInkH);
	}
}

.bit-date {
	padding-left:5px;
	text-transform:uppercase;
	font-weight:bold;
	display:inline-block;
	width:7em;
}

.bit-date, .bit-venue, .bit-citystate {
	padding-top:10px;
}

.bit-button {
	color:var(--cPaperH);
	background-color:var(--cLink);
	padding:10px;
	display:inline-block;
	text-align:center;
	width:8em;
	text-transform:uppercase;
	font-weight:bold;
	font-size:90%;
	float:right;
}

.bit-after { padding-top:1em; }


@media only screen and (max-width:($mainBreakpoint - 1px)) {

	/* Bands in town just show square logo */
	.bit-header-full {
		display:none;
	}
	.bit-date, .bit-venue, .bit-citystate, .bit-button {
		display:block;
	}
	.bit-date, .bit-venue, .bit-citystate {
		padding:0;
	}
}

@media only screen and (min-width:$mainBreakpoint) {

	/* Bands in town just show square logo */
	.bit-header-mobile {
		display:none;
	}

	/* Make track link be a button */
	.bit-track { text-decoration:none; color:var(--cPaperH); background-color:var(--cLink); padding:10px; margin-right:0.5rem; }

	/* Separator for city-state */
	.bit-citystate::before { content:' — '; }

}


/*
----------------------------------------
Mailing
----------------------------------------
*/


.taller {
	margin:1em auto;
}

.mailchimp-section {
	padding-top:0;
	padding-bottom:0;
	form, input {
		display:inline-block;
	}
	input:not([type]), input[type=text], input[type=email], input[type=submit] {
		padding:0.5rem; margin:0.5rem 0.5rem;
		font:normal 16px HelveticaNeue-CondensedBold, impact, sans-serif;
	}
}
#mce-FNAME { width:6em;}
#mce-LNAME { width:9em;}
#mce-EMAIL { width:10em;}

@media only screen and (max-width:($mainBreakpoint - 1px)) {

	.mailchimp-section {
		padding-top:0.5rem;
		padding-bottom:0.5rem;
		h3, form, input {
			display:block;
		}
		h3 { padding:0; margin:0.5rem 0.5rem; }
		input:not([type]), input[type=text], input[type=email], input[type=submit] {
			padding:0.5rem;
			margin:0.5rem 0.5rem;
		}
	}
	#mce-FNAME, #mce-LNAME, #mce-EMAIL {
	 	box-sizing:content-box;
		width:90%;
	}
}


/*
----------------------------------------
Modal for Contact Form
----------------------------------------
*/

#cover {
	position:fixed;
	top:0;left:0;
	background:rgba(0,0,0,0.5);
	z-index:20;
	width:100%;
	height:100%;

	// Center contents
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.modal {
	min-width:240px;
	min-height:300px;
	margin:auto auto;
	background-color:var(--cPaperH);
	border:5px solid black;
	border-radius:10px;
	padding:10px;
	z-index:21;
}
#close-modal {
	position:fixed;
	top:0;
	right:40px;
	font-size:600%;
	color:var(--cPaperH);
	z-index:22;
	text-shadow:0 0 4px var(--cInkH);
	cursor:pointer;
}


.spotify-embed, .spotify-proxy {
	position:relative;
	padding-top:100%;
	height:80px;
	max-width:100%;
	box-sizing: content-box;
	background-color:rgba(0,0,0,0.25);	// start out with a slight placeholder

	iframe {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		min-width:230px;		// absolute minimum working size for spotify grid.
		min-height:310px;
	}
}

/*
----------------------------------------
Production
----------------------------------------
*/

// https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/#for-those-who-dont-mind-that-edge-case
$gutterX: clamp(0.625rem, -7.3750rem + 16.6667vw, 2rem);	// We want 10px at 768px; values: 768px; 900px; 0.625rem, 2rem 
$gutterY: 5.2vw;		// always this gutter between cards

.productiongrid {

	text-align:center;

	display: grid;
	grid-auto-flow: dense;
	column-gap: $gutterX;
	row-gap: $gutterY;

	align-items:stretch;		// each item should stretch vertically to fill up the grid area
	justify-items:stretch;		// each item should stretch horizontally to fill up the grid area
	justify-content: center;	// center the grid of items in the grid container

	// Automatic column filling above small size
	@media only screen and (min-width:$breakpointToSmall) {
  		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  	}

  	h3, h4 {
  		margin:0 0 1em 0;
  	}
	h4 {
		font-weight:normal;
		font-style:italic;
	}

	section {
		// background: yellow;	// TESTING
		position: relative;
		overflow:hidden;

		aside {
			position: absolute;
			right:0.5em;
			bottom:0.2em;
			font-size:0.5em;
		}
	}

	section.photo {			// must specify background-image URL in HTML. Roughly 1.4:1 aspect ratio but it can be cropped a bit in either direction.

		display: block;
		background-size:     cover; 
		background-repeat:   no-repeat;
		background-position: center center;

		@media only screen and (min-width:$breakpointToSmall) {
			grid-column-end: span 2;
			
			// give it some size
			width:100%;
			padding-top:61.8%;		// should be approx the width / 1.618
			margin: 0 auto;
			border-radius: 30px;
		}

		// when single-column mode, show photo centered and a bit smaller.
		@media only screen and (max-width:$breakpointToSmall - 1) {
			width:66.67%;
			padding-top:41%;		// should be approx the width / 1.618
			margin: 0 auto;
			border-radius: 20px;
		}
	}

	section.video {					// Wide article with video preview

		@media only screen and (min-width:$breakpointToSmall) {
			grid-column-end: span 2;
		}

		.youtubeEmbed-border {
			background:black;
			padding:8px;
		}

		// Smaller video embed, for videos that aren't as important
		&.smaller {
			grid-column-end: span 1;
		}
	}

}

