extends ../_layout.pug

block prelude
	|<?php
	|require_once('../classes/downcode.php');
	|$db = new DowncodeDB();
	|$album = $db->featuredAlbum('2AM in the Basement');
	|
	|$now = new DateTime();
	|$release = $now;	// default to now, so it should show up as released
	|if ($album) {
	|	$releaseDateString = NULL;
	|	if (!empty($album['release_date'])) {
	|		$release = new DateTime($album['release_date'], new DateTimeZone('America/New_York'));
	|		if ($now < $release) $releaseDateString = $release->format('l, F jS');
	|	}
	|	$oneMonthAgo = new \DateTime('1 month ago');
	|}
	|?>


block vars
	- var herostyle = 'covering'
	- var pageTitle = '2AM in the Basement'
	- var currentClass = '2am'
	- var description = '2AM in the Basement is a side project of musician Lorenzo Wood featuring covers of songs by some of Lorenzo‘s favorite artists.'

block title
	title 2AM in the Basement — Official Site
	
block append links
	link(rel="prefetch" href="//code.jquery.com")
		//- This should be done on any page using jquery - ONLY HOME PAGE & 2AM PAGE
	link(rel="prefetch" href="//img.youtube.com")
		//- This should be done on any page showing YOUTUBE VIDEOS

block logo
	a.filled(href="/", class={active: currentClass === '2am'}, style="color:pink")
		include ../svg/2am.svg

//- REMINDER: DASH AFTER SLASH-SLASH HIDES COMMENTS FROM PUG COMPILER

//-.info(style="position:absolute; top:0; left:0; width:100%; height:20px; color:red;z-index:9999")

block append header
	.hero

		<?php if ($album) { ?>
		.action-banner.clearfix.safe-area-only(style="background:rgba(255,255,255,0.4")
			p
				<a target="_blank" href="/link/<?php echo htmlentities($album['slug'], ENT_QUOTES); ?>">
					<img style="display:inline-block; width:32px; height:auto; padding:0;" src="/album_art_64/<?php echo htmlentities($album['imageName'], ENT_QUOTES); ?>" alt="<?php echo htmlentities($album['title'], ENT_QUOTES); ?>, cover image" />
				</a>
				span <?php echo htmlspecialchars( $now < $release ? 'Upcoming' : ($release < $oneMonthAgo ? 'Latest' : 'New') . ' ' . $album['album_ep_single'] . ' “' . $album['title'] . '”'); ?> —
					| &nbsp;
				b
					<a style="text-decoration:underline" href="/link/<?php echo htmlentities($album['slug'], ENT_QUOTES); ?>"><?php echo ($now < $release) ? 'Pre-Save or Pre-Order Now!' : 'Download or stream now!'; ?></a>
		<?php } ?>

		picture
			source(srcset="/img/2am.webp 1920w" type="image/webp")
			source(srcset="/img/2am.jpg 1920w, /img/2am50.jpg 960w, /img/2am33.jpg 640w")
			img.hero-image.covering(src="/img/2am.jpg" loading="eager" alt="2AM in the Basement")

block main


	section.bio

		header.ir(aria-hidden="true")
			h2 Bio
		article.textual

			//- Try to match meta description above with text below

			p.
				2AM in the Basement is a side project of musician <a href="./">Lorenzo Wood</a> featuring covers of songs by some of Lorenzo's favorite artists.

			p Find 2AM in the Basement songs online:
			.icons.icons-2
				a.smaller(data-title="Apple Music" href="https://geo.itunes.apple.com/us/artist/2am-in-the-basement/1461919405?at=1000lKSp")
					include ../svg/apple-music-icon.svg
				a(data-title="Spotify" href="https://open.spotify.com/artist/4xWrKxTS7gyybHbJ94LZtx?si=P5Cy1GEHS8aLFNkjsFAx_Q" style="fill:#1ED760")
					include ../svg/spotify-logo.svg


	section.videos.clearfix

		header.ir(aria-hidden="true")
			h2 Releases so far

		article.clearfix

			.youtube-column-2
				.youtube-border
					.youtube(data-code='PfjIqix5ZZw' data-title='Heartless (Diplo & Morgan Wallen) Cover by 2AM In The Basement')
			.youtube-column-2
				.youtube-border
					.youtube.square-video(data-code='21RcD1TRKv4' data-title='Old Town Road')




block additional-html

	#scroll-arrow.scrolldown.bounce(style="display:none; stroke:white")
		a.down-arrow(href="#")
			include ../svg/downarrow.svg


//- NOTE THAT HOME PAGE & 2AM PAGE ARE ONLY PAGES USING JQUERY

block prepend scripts
	script(
		src="https://code.jquery.com/jquery-3.5.0.min.js"
		integrity="sha384-LVoNJ6yst/aLxKvxwp6s2GAabqPczfWh6xzm38S/YtjUyZ+3aTKOnD/OJVGYLZDl"
		crossorigin="anonymous")
	script.
		window.jQuery || document.write('<script src="/js/vendor/jquery-3.5.0.min.js"><\\/script>')
	script
		include ../js/hero-min.js
		include ../js/youtube-min.js
	<script type="application/ld+json">{"@context":"http://schema.org","@type":"Person","name":"2AM in the Basement","url":"https://www.lorenzowoodmusic.com/2am-in-the-basement/","sameAs":["https://www.amazon.com/dp/B07R5Q4NJ3/ref=dm_ws_ps_adp", "https://twitter.com/2am_basement", "https://listen.tidal.com/artist/17766004", "https://music.apple.com/us/artist/2am-in-the-basement/1461919405?at=1000lKSp", "https://open.spotify.com/artist/4xWrKxTS7gyybHbJ94LZtx"]}</script>


