extends ../_layout.pug


block vars
	- var pageTitle = 'Photos'
	- var currentClass = 'photos'
	- var description = 'Photos of Lorenzo Wood, musician from the San Francisco Bay Area'

block append links
	//- special link to load AOS stylesheet asynchronously
	link(rel="stylesheet" href=cloudRawPrefix + "css/component_aos.css" media="print" onload="this.media='all'")
	//- Start loading external AOS javascript now, use onload to when loaded
	script(defer src="/" + "js/aos3.js" onload="AOS.init({disable:'mobile',once:true});")
	//- override the AOS styles that are initially hidden and then revealed, when no Javascript
	include ../_noscript_aos.html

include _photos.pug

block more-credits
	span.dimmer Photo credits: Claire Ashcraft, Dave Weiland (See individual file names). No credit requested if photographer not specified in file name.
