extends ../_layout.pug

block prelude
	|<?php
	|
	|require_once('../classes.php');
	|$db = new DowncodeDB();
	|$slug = isset($_GET['slug']) ? trim($_GET['slug']) : '';
	|
	|if (empty($slug)) {
	|	$albums = $db->allAlbums();
	|	foreach ($albums as $album) {
	|		echo '<a href="' . htmlentities($album['slug'], ENT_QUOTES) . '">';
	|		echo htmlspecialchars($album['title']);
	|		echo '</a><br />' . PHP_EOL;
	|	}
	|	die();
	|}
	|
	|$album = $db->albumForSlug($slug);
	|if ($album) {
	|	$longTitle = $album['title'];
	|	if (!empty($album['featuring'])) { $longTitle .= ' [feat. ' . $album['featuring'] . ']'; }
	|	$longTitle .= ' - by ' . $album['artist'];
	|	$releaseDateString = NULL;
	|	if (!empty($album['release_date'])) {
	|		$release = new DateTime($album['release_date']);
	|		$now = new DateTime();
	|		if ($now < $release) $releaseDateString = $release->format('l, F jS');
	|	}
	|}
	|else {
	|	header('HTTP/1.0 404 Not Found');
	|	readfile('../404.html');
	|	exit();
	|}
	|?>




block vars
	- var title = link-page
	//- setting curent to link-page means we can style a body.link-page specially
	- var current = link-page

block title
	<title><?php echo htmlentities($longTitle); ?></title>

block description
	<meta name='description' content='<?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>

block append logo
	.mini-icons
		a(data-title="Instagram" href="https://instagram.com/LorenzoWoodMusic")
			include ../svg/instagram-logo.svg
		a(data-title="Facebook" href="https://facebook.com/LorenzoWoodMusic")
			include ../svg/facebook-logo.svg
		a(data-title="Twitter" href="https://twitter.com/lorenzowmusic")
			include ../svg/twitter-logo.svg
	
block footer-icons

block append links

	//- only do the metadata if we have a single album
	//- FB OG tags
	<meta property='og:title' content='<?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta property='og:description' content='Preview, download or stream <?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta property='og:url' content='<?php echo htmlentities(curPageURL()); ?>'>
	<meta property='og:type' content='article'>
	<meta property='og:image' content='<?php echo baseURL() . '/album_art_1200x630/' . htmlentities($album['imageName'], ENT_QUOTES); ?>'> 
	//- 600 x 315 ideally 1200x630
	//- additional media
	//- Twitter summary card meta tags
	<meta name='twitter:url' value='<?php echo htmlentities(curPageURL()); ?>'>
	<meta name='twitter:title' content='<?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta name='twitter:description' content='Preview, download or stream <?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta name='twitter:card' content='summary_large_image'>
	<meta name='twitter:image' content='<?php echo baseURL() . '/album_art_large/' . htmlentities($album['imageName'], ENT_QUOTES); ?>'>
	//- square 144 up to 4000, 5 MB max

block append styles
	link(rel='stylesheet', href='/css/linkstyles.080719.css')


block main

	.background-blur
		//- use the exact same image as the displayed one so we don't need another image loaded
		<img src="../album_art_640/<?php echo htmlentities($album['imageName'], ENT_QUOTES); ?>" alt="<?php echo htmlentities($album['title'], ENT_QUOTES); ?>">

	.center-column

		<?php if ($album['additional_info']) { ?>
		
		<div class="centered additional"><a href="<?php echo htmlentities($album['additional_info_url'], ENT_QUOTES); ?>"><?php echo htmlspecialchars($album['additional_info']); ?></a></div>

		<?php } ?>

		.imagecontainer
			<img src="../album_art_640/<?php echo htmlentities($album['imageName'], ENT_QUOTES); ?>" alt="<?php echo htmlentities($album['title'], ENT_QUOTES); ?>">
			<?php if ($album['youtube_video_id']) { ?>
			<div class="youtube-button"><a href="https://www.youtube.com/watch?v=<?php echo htmlentities($album['youtube_video_id'], ENT_QUOTES); ?>"><img src="../svg/youtube-play.svg" alt="Youtube"></a></div>
			<?php } ?>

		.title-container
			h1
				| <?php echo htmlspecialchars($album['artist']); ?> 
				br
				|  <?php echo htmlspecialchars($album['title']); ?>
				<?php $featuring = $album['featuring']; if (!empty($featuring)) { echo ' (Featuring ' . htmlspecialchars($featuring) . ')'; } ?>
			p
				<?php if ($releaseDateString) {
				|	echo 'Releasing ' . htmlspecialchars($releaseDateString);
				|} else {
				|	echo 'Download and stream now';
				|}?>
					
		.service-container

			<?php if ($album['itunes_id']) { ?>
			
			<div class="service"><a href="https://geo.itunes.apple.com/us/album/<?php echo htmlentities($album['itunes_id'], ENT_QUOTES); ?>?app=itunes&amp;at=1000lKSp"><img src="../svg/iTunes_Store_Buy_Lockup_RGB_blk.svg" alt="iTunes"><span class="play"><?php echo $releaseDateString ? 'Pre-order' : 'Download'; ?></span></a></div>

			<?php } if ($album['itunes_id'] && empty($releaseDateString)) { ?>

			<div class="service"><a href="https://geo.itunes.apple.com/us/album/<?php echo htmlentities($album['itunes_id'], ENT_QUOTES); ?>?mt=1&app=music&amp;at=1000lKSp"><img src="../svg/Apple_Music_lockup_RGB_blk.svg" alt="Apple Music"><span class="play">Play</span></a></div>

			<?php } if ($album['spotify_id']) { ?>
			
			<div class="service"><a href="https://play.spotify.com/album/<?php echo htmlentities($album['spotify_id'], ENT_QUOTES); ?>"><img src="../svg/spotify-text.svg" alt="Spotify"><span class="play">Play</span></a></div>

			<?php } if ($album['amazon_music_id']) { ?>
			
			<div class="service"><a href="https://www.amazon.com/dp/<?php echo htmlentities($album['amazon_music_id'], ENT_QUOTES); ?>"><img src="../svg/amazon-music.svg" alt="Amazon Music"><span class="play">Play</span></a></div>

			<?php } if ($album['google_play_id']) { ?>
			
			<div class="service"><a href="https://play.google.com/store/music/album/<?php echo htmlentities($album['google_play_id'], ENT_QUOTES); ?>"><img src="../svg/google-play.svg" alt="Google Play"><span class="play">Download</span></a></div>

			<?php } if ($album['youtube_music_id']) { ?>
			
			<div class="service"><a href="https://music.youtube.com/browse/<?php echo htmlentities($album['youtube_music_id'], ENT_QUOTES); ?>"><img src="../svg/youtube-music.svg" alt="Youtube Music"><span class="play">Play</span></a></div>
			//- can also watch at https://music.youtube.com/watch?v= + youtube_video_id

			<?php } if ($album['soundcloud_id']) { ?>
			
			<div class="service"><a href="https://soundcloud.com/<?php echo htmlentities($album['soundcloud_id'], ENT_QUOTES); ?>"><img src="../svg/soundcloud.svg" alt="Soundcloud"><span class="play">Play</span></a></div>

			<?php } if ($album['deezer_id']) { ?>
			
			<div class="service"><a href="https://www.deezer.com/us/album/<?php echo htmlentities($album['deezer_id'], ENT_QUOTES); ?>"><img src="../svg/deezer.svg" alt="Deezer"><span class="play">Play</span></a></div>

			<?php } if ($album['bandcamp_id']) { ?>
			
			<div class="service"><a href="https://lorenzowoodmusic.bandcamp.com/<?php echo htmlentities($album['bandcamp_id'], ENT_QUOTES); ?>"><img src="../svg/bandcamp.svg" alt="Bandcamp"><span class="play">Download</span></a></div>

			<?php } if ($album['cd_id']) { ?>
			
			<div class="service"><a href="<?php echo htmlentities($album['cd_id'], ENT_QUOTES); ?>"><img src="/img/cd100.png" alt="Buy CD"><span class="play">Buy</span></a></div>

			<?php } ?>

block scripts
	|<?php
	|$db->close();
	|?>