extends ../_layout.pug

block prelude
	|<?php
	|
	|require_once('../classes.php');
	|$db = new DowncodeDB();
	|$slug = isset($_GET['slug']) ? trim($_GET['slug']) : '';
	|// Figure out something clever to display if no album specified; show all. maybe in columns?
	|$album = $db->albumForSlug($slug);
	|if ($album) {
	|	$longTitle = $album['title'];
	|	if (!empty($album['featuring'])) { $longTitle .= ' [feat. ' . $album['featuring'] . ']'; }
	|	$longTitle .= ' - by ' . $album['artist'];
	|}
	|else {
	|	header('HTTP/1.0 404 Not Found');
	|	readfile('../404.html');
	|	exit();
	|}
	|?>




block vars
	- var title = link-page
	//- setting curent to link-page means we can style a body.link-page specially
	- var current = link-page

block title
	<title><?php echo htmlentities($longTitle); ?></title>

block description
	<meta name='description' content='<?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>

block footer

block h1logo
	div(style="width:100%; height:4em; background-color:black")

block append links

	//- only do the metadata if we have a single album
	// FB OG tags
	<meta property='og:title' content='<?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta property='og:description' content='Preview, download or stream <?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta property='og:url' content='<?php echo htmlentities(curPageURL()); ?>'>
	<meta property='og:type' content='article'>
	<meta property='og:image' content='<?php echo baseURL() . '/album_art/' . htmlentities($album['imageName'], ENT_QUOTES); ?>'> <!-- 600 x 315 ideally 1200x630 -->
	// additional media
	// Twitter summary card meta tags
	<meta name='twitter:url' value='<?php echo htmlentities(curPageURL()); ?>'>
	<meta name='twitter:title' content='<?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta name='twitter:description' content='Preview, download or stream <?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta name='twitter:card' content='summary_large_image'>
	<meta name='twitter:image' content='<?php echo baseURL() . '/album_art/' . htmlentities($album['imageName'], ENT_QUOTES); ?>'> <!-- square 144 up to 4000, 5 MB max -->

block append styles
	link(rel='stylesheet', href='link.css')


block main
	div
		#prefpage
			#bg
				// Really we should have 640 square for good retina image.
				<img src="../album_art/<?php echo htmlentities($album['imageName'], ENT_QUOTES); ?>", alt="<?php echo htmlentities($album['title'], ENT_QUOTES); ?>">
			#img.imagecontainer(style='position:relative;')
				<img src="../album_art/<?php echo htmlentities($album['imageName'], ENT_QUOTES); ?>", alt="<?php echo htmlentities($album['title'], ENT_QUOTES); ?>">
			#header.service-container.sticky(style='z-index:9000; ;')
				.header
					h1.artist
						| <?php echo htmlspecialchars($album['artist']); ?> 
						br
						|  <?php echo htmlspecialchars($album['title']); ?>
						<?php $featuring = $album['featuring']; if (!empty($featuring)) { echo ' (Featuring ' . htmlspecialchars($featuring) . ')'; } ?>
					p.where Download and stream now
				.arrow
			#service.service-container
				<?php if ($album['itunes_id']) { ?>
				
				<div class="service"><a class="img-btn redirect" href="<?php echo htmlentities($album['itunes_id'], ENT_QUOTES); ?>"><span><img width="125px" height="40px" style="display:inline-block;" src="music-service_itunes.svg" alt="itunes"></span><span class="play">Download</span></a></div>

				<?php } if ($album['spotify_id']) { ?>
				
				<div class="service"><a class="img-btn redirect" href="<?php echo htmlentities($album['spotify_id'], ENT_QUOTES); ?>"><span><img width="125px" height="40px" style="display:inline-block;" src="music-service_spotify.svg" alt="spotify"></span><span class="play">Play</span></a></div>

				<?php } if ($album['apple_music_id']) { ?>
				
				<div class="service"><a class="img-btn redirect" href="<?php echo htmlentities($album['apple_music_id'], ENT_QUOTES); ?>"><span><img width="125px" height="40px" style="display:inline-block;" src="music-service_applemusic.svg" alt="applemusic"></span><span class="play">Play</span></a></div>

				<?php } if ($album['amazon_music_id']) { ?>
				
				<div class="service"><a class="img-btn redirect" href="<?php echo htmlentities($album['amazon_music_id'], ENT_QUOTES); ?>"><span><img width="125px" height="40px" style="display:inline-block;" src="music-service_amazonmp3.svg" alt="amazonmp3"></span><span class="play">Play</span></a></div>

				<?php } if ($album['google_play_id']) { ?>
				
				<div class="service"><a class="img-btn redirect" href="<?php echo htmlentities($album['google_play_id'], ENT_QUOTES); ?>"><span><img width="125px" height="40px" style="display:inline-block;" src="music-service_google-play.svg" alt="google-play"></span><span class="play">Download</span></a></div>

				<?php } if ($album['deezer_id']) { ?>
				
				<div class="service"><a class="img-btn redirect" href="<?php echo htmlentities($album['deezer_id'], ENT_QUOTES); ?>"><span><img width="125px" height="40px" style="display:inline-block;" src="music-service_deezer.svg" alt="deezer"></span><span class="play">Play</span></a></div>

				<?php } ?>



block scripts
	|<?php
	|$db->close();
	|?>

//- [title] => You and Me Now
//- [description] => 
//- [imageName] => you-and-me-now
//- [timestamp] => 2019-05-17 01:08:12
//- [artist] => Aendru
//- [featuring] => Lorenzo Wood
//- [itunes_id] => 
//- [apple_music_id] => 
//- [spotify_id] => https://open.spotify.com/album/1XaP6iC5xkcaqVZdf2hXRC?si=eHxI7fTAS3OnDNnqIIiriA
//- [google_play_id] => 
//- [amazon_music_id] => 
//- [soundcloud_id] => https://soundcloud.com/andrewwilsonmusic/aendru-you-me-now-feat-lorenzo-wood
//- [deezer_id] => //- 