extends ../_layout.pug

block prelude
	|<?php
	|
	|require_once('../classes/downcode.php');
	|$db = new DowncodeDB();
	|$slug = isset($_GET['slug']) ? trim($_GET['slug']) : '';
	|$genBlurhash = isset($_GET['blurhash']);
	|
	|if (empty($slug)) {
	|   header('HTTP/1.0 404 Not Found');
	|   readfile('../404.html');
	|   exit();
	|}
	|
	|$now = new DateTime(isset($_GET['ymd']) ? $_GET['ymd'] : 'now');
	|$releaseDate = $now;   // default to now, so it should show up as released
	|$releases = $db->releasesExtendedForSlug($slug);
	|if (!$releases) {
	|   header('HTTP/1.0 404 Not Found');
	|   readfile('../404.html');
	|   exit();
	|}
	|$release = $releases[0];
	|
	|$has_radio_edit = false;
	|$has_explicit = false;
	|foreach($releases as $r) {
	|	if ($r['variation_id'] == 2) { $has_radio_edit = true; }
	|	if ($r['variation_id'] == 1) { $has_explicit = true; }
	|}
	|$is_explicit = $release['variation_id'] == 1;	// is *this* page marked explicit?
	|$longTitle = $release['title'];
	|
	|if (!empty($release['featuring'])) { $longTitle .= ' [feat. ' . $release['featuring'] . ']'; }
	|$longTitle .= ' - by ' . $release['artist_name'];
	|
	|$descriptionHTML = $release['description_html'];
	|$whereEndParagraph = strpos($descriptionHTML, '</p>');
	|if (FALSE !== $whereEndParagraph) { $descriptionHTML = substr($descriptionHTML, 0, $whereEndParagraph+strlen('</p>')); }
	|$descriptionText = strip_tags($descriptionHTML);
	|
	|$releaseDateString = NULL;
	|if (!empty($release['release_date'])) {
	|    $releaseDate = new DateTime($release['release_date'], new DateTimeZone('America/New_York'));
	|    if ($now < $releaseDate) $releaseDateString = $releaseDate->format('l, F jS');
	|}
	|?>

block append header
	<?php if ($genBlurhash) { ?>
	<input type="number" id="x" value="4" min="1" max="9" /> × <input type="number" id="y" value="4" min="1" max="9" />
	<input type="text" id="blurhash" style="width:100%" value="Blurhash goes here" />
	<canvas id="originalCanvas" style="display:none" width="100" height="100"></canvas>
	<?php } ?>


block vars
	- var currentClass = link-page
	//- do not define pageTitle; it breaks things (?) and isn't need since title is generated from database


block title
	<title><?php echo htmlentities($longTitle); ?></title>

block description
	<?php if (strlen($descriptionText) > 0) { echo "<meta name='description' content='" . htmlentities($descriptionText, ENT_QUOTES) . "'>"; } ?>

block append logo
	.mini-icons
		.icon
			a(data-title="Instagram" href="https://instagram.com/LorenzoWoodMusic")
				svg: use(xlink:href="/svg/homepage.svg#instagram")
		.icon
			a(data-title="Facebook" href="https://facebook.com/LorenzoWoodMusic")
				svg: use(xlink:href="/svg/homepage.svg#facebook")
	
block footer-icons

block append links

	//- only do the metadata if we have a single album
	//- FB OG tags
	<meta property='og:title' content='<?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta property='og:description' content='Preview, download or stream <?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta property='og:url' content='<?php echo htmlentities(curPageURL()); ?>'>
	<meta property='og:type' content='article'>
	<meta property='og:image' content='<?php echo baseURL() . '/album_art_1200x630/' . htmlentities($release['image'], ENT_QUOTES); ?>'> 
	//- 600 x 315 ideally 1200x630
	//- additional media
	//- Twitter summary card meta tags
	<meta name='twitter:url' content='<?php echo htmlentities(curPageURL()); ?>'>
	<meta name='twitter:title' content='<?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta name='twitter:description' content='Preview, download or stream <?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta name='twitter:card' content='summary_large_image'>
	<meta name='twitter:image' content='<?php echo baseURL() . '/album_art_1200x630/' . htmlentities($release['image'], ENT_QUOTES); ?>'>
	//- square 144 up to 4000, 5 MB max

block styles
	style
		include ../css/linkpage.css


block main

	//- Somehow, if .background-blur is there, the .blurhash div isn't visible, and we get a big white background until real image is loaded. (Safari)
	.blurhash
		//- This gets loaded with Javascript
		<img id="blurhashImage" />
		//- Hidden working canvas
		<canvas id="outputCanvas" style="display:none" width="32" height="32"></canvas>


	.background-blur#background-blur
		//- Only load the background blur image directly if no scrip. Otherwise we will manage it with Javascript, replicating PHP below.
		noscript
			//- use the exact same image as the displayed one so we don't need another image loaded
			<img src="<?php $blur = CLOUDPREFIX . ($release['image_blurred'] ? 'blurred_100/' . $release['image_blurred'] : 'album_art_640/' . htmlentities($release['image'])); echo htmlentities($blur, ENT_QUOTES); ?>" alt="<?php echo htmlentities($release['title'], ENT_QUOTES); ?>">

	.center-column

		<?php if ($release['blurb']) { ?>
		
		<div class="centered additional"><a href="<?php echo htmlentities($release['blurb_url'], ENT_QUOTES); ?>"><?php echo htmlspecialchars($release['blurb']); ?></a></div>

		<?php } ?>

		.title-container
			
			<?php if ($release['youtube_video_v']) { ?>
			<div class="youtube-border"><div class="youtube-player" data-linking="yep" data-code='<?php echo htmlentities($release['youtube_video_v'], ENT_QUOTES); ?>' data-title=''></div></div>
			<?php } ?>


			h1
				| <?php echo htmlspecialchars($release['artist_name']); ?> 
				br
				|  <?php echo htmlspecialchars($release['title']); ?>
			<?php $featuring = $release['featuring']; if (!empty($featuring)) { echo ' (Featuring ' . htmlspecialchars($featuring) . ')'; } ?>

		.imagecontainer
			<img width="640" height="640" src="<?php echo CLOUDPREFIX . 'album_art_640/' . htmlentities($release['image'], ENT_QUOTES); ?>" alt="<?php echo htmlentities($release['title'], ENT_QUOTES); ?>">

		.title-container
			h2.
				<?php
				if ($now < $releaseDate) {
					echo 'Releasing ' . htmlspecialchars($releaseDateString);
				} else {
					echo 'Download and stream now';
				} ?>
			//- The Javascript slide-switch to change between explicit and radio-edit versions.
			div.requires-js.
				<?php
				if ($has_radio_edit && $has_explicit) { ?>
				<div class="switch">
					<input type="radio" class="switch-input" name="view2" value="dirty" id="dirty" <?php if ($is_explicit) { echo 'checked'; } ?>>
					<label for="dirty" class="switch-label switch-label-off"
					<?php
					if (!$is_explicit) {
						echo 'onclick="window.location=\'' . baseURL() . '/link/' 
							. htmlentities($release['slug'], ENT_QUOTES) 
							. '\'"'; 
					} ?>
					>Explicit</label>
					<input type="radio" class="switch-input" name="view2" value="clean" id="clean"  <?php if (!$is_explicit) { echo 'checked'; } ?>>
					<label for="clean" class="switch-label switch-label-on"
					<?php
					if ($is_explicit) {
						echo 'onclick="window.location=\'' . baseURL() . '/link/' 
							. htmlentities($release['slug'] . '-radio-edit', ENT_QUOTES) 
							. '\'"'; 
					} ?>
					>Radio Edit</label>
					<span class="switch-selection"></span>
				</div>
				<?php } ?>

			//- The NON-Javascript slide-switch to change between explicit and radio-edit versions.
			div.js-hidden.
				<?php
				if ($has_radio_edit && $has_explicit) { ?>
					<?php
					if (!$is_explicit) {
						echo "<a href='" . baseURL() . "/link/"
							. htmlentities($release['slug'], ENT_QUOTES) 
							. "'>"; 
					}
					else {
						echo '<b>';
					}
					echo 'Explicit';
					if (!$is_explicit) {
						echo "</a>";
					}
					else {
						echo '</b>';
					}


					echo ' &middot; ';

					if ($is_explicit) {
						echo "<a href='" . baseURL() . "/link/"
							. htmlentities($release['slug'] . '-radio-edit', ENT_QUOTES) 
							. "'>"; 
					}
					else {
						echo '<b>';
					}
					echo 'Radio Edit';
					if ($is_explicit) {
						echo "</a>";
					}
					else {
						echo '</b>';
					}
				} ?>

			
					
		.service-container

			<?php if ($release['apple_music_album']) { ?>
			
			//- NOTE PROBLEM WITH SVG-USE; THE SVG IS MESSED UP
			<div class="service"><a href="https://geo.itunes.apple.com/us/album/<?php echo htmlentities($release['apple_music_album'], ENT_QUOTES); ?>?app=itunes&amp;at=1000lKSp"><img src="../svg/linkpage/itunes.svg" alt="iTunes"><span class="play"><?php echo ($now < $releaseDate) ? 'Pre-order' : 'Download'; ?></span></a></div>

			<?php } if ($release['apple_music_album'] && ($now >= $releaseDate)) { ?>

			//- NOTE PROBLEM WITH SVG-USE; THE SVG IS MESSED UP
			<div class="service"><a href="https://geo.itunes.apple.com/us/album/<?php echo htmlentities($release['apple_music_album'], ENT_QUOTES); ?>?mt=1&app=music&amp;at=1000lKSp"><img src="../svg/linkpage/apple-music.svg" alt="iTunes"><span class="play">Play</span></a></div>

			//- We will only have the spotify link if the song has been released, unless things change...

			<?php } if ($release['spotify_track']) { ?>
			
			<div class="service"><a href="https://play.spotify.com/track/<?php echo htmlentities($release['spotify_track'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#spotify-text" /></svg><span class="play">Play</span></a></div>

			//- Use spotify ALBUM link only if we don't have a TRACK specified.
			<?php } if ($release['spotify_album'] && !$release['spotify_track']) { ?>
			
			<div class="service"><a href="https://play.spotify.com/album/<?php echo htmlentities($release['spotify_album'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#spotify-text" /></svg><span class="play">Play</span></a></div>

			//- Show the spotify presave link if we don't have a real spotify link. Spotify might be slow in taking the release live,
			//- or maybe we were slow in putting the link into our database.

			<?php } if ( (!$release['spotify_album']) && (!$release['spotify_track']) &&$release['spotify_presave_url']) { ?>
			

			
			<div class="service"><a rel="nofollow" href="<?php echo htmlentities($release['spotify_presave_url'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#spotify-text" /></svg><span class="play">Pre-save</span></a>

			<div	style="padding-left:5em; font-size:80%; color:gray">
			|<?php 	if ($now >= $releaseDate) { ?>
			|<div><b>Direct spotify link coming soon!</b></div>
			|<?php	} ?>
			|This step takes you to our DistroKid.com page to continue. You will be asked to log into your Spotify account.</div>
			|</div>

			<?php } if ($now >= $releaseDate) { ?>


			<?php      if ($release['amazon_dp']) { ?>
			
			<div class="service"><a href="https://www.amazon.com/dp/<?php echo htmlentities($release['amazon_dp'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#amazon-music" /></svg><span class="play">Play</span></a></div>

			<?php } if ($release['youtube_music_v']) { ?>
			
			<div class="service"><a href="https://music.youtube.com/watch?v=<?php echo htmlentities($release['youtube_music_v'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#youtube-music" /></svg><span class="play">Play</span></a></div>

			//- Use YouTube Music ALBUM (MPREb...) link only if we don't have a TRACK specified.

			<?php } if ($release['youtube_music_MPRE'] && !$release['youtube_music_v']) { ?>
			
			<div class="service"><a href="https://music.youtube.com/browse/<?php echo htmlentities($release['youtube_music_MPRE'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#youtube-music" /></svg><span class="play">Play</span></a></div>




			<?php } if ($release['bandcamp_path']) { ?>

			<div class="service"><a href="https://lorenzowoodmusic.bandcamp.com/<?php echo htmlentities($release['bandcamp_path'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#bandcamp" /></svg><span class="play">Download</span></a>

			<?php 		if ($release['bandcamp_blurb_url']) { ?>

			<div 		style="padding-left:5em; margin-top:-20px; font-size:80%;"><a style="text-decoration:underline !important" href="<?php echo htmlentities($release['bandcamp_blurb_url'], ENT_QUOTES); ?>"><?php echo htmlspecialchars($release['bandcamp_blurb']); ?></a></div>
			
			</div>
			<?php 		} ?>




			<?php } if ($release['soundcloud_path']) { ?>
			
			<div class="service"><a href="https://soundcloud.com/<?php echo htmlentities($release['soundcloud_path'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#soundcloud" /></svg><span class="play">Play</span></a></div>

			<?php } if ($release['deezer_track']) { ?>
			
			<div class="service"><a href="https://www.deezer.com/us/track/<?php echo htmlentities($release['deezer_track'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#deezer" /></svg><span class="play">Play</span></a></div>

			//- Use deezer ALBUM link only if we don't have a TRACK specified.

			<?php } if ($release['deezer_album'] && !$release['deezer_track']) { ?>
			
			<div class="service"><a href="https://www.deezer.com/us/album/<?php echo htmlentities($release['deezer_album'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#deezer" /></svg><span class="play">Play</span></a></div>


			<?php } if ($release['iheartradio_songs']) { ?>
			
			<div class="service"><a href="https://www.iheart.com/artist/lorenzo-wood-32159981/songs/<?php echo htmlentities($release['iheartradio_songs'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#iheartradio" /></svg><span class="play">Play</span></a></div>

			<?php } if ($release['tidal_track']) { ?>
			
			<div class="service"><a href="https://listen.tidal.com/track/<?php echo htmlentities($release['tidal_track'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#tidal" /></svg><span class="play">Play</span></a></div>

			//- Use tidal ALBUM link only if we don't have a TRACK specified.

			<?php } if ($release['tidal_album'] && !$release['tidal_track']) { ?>
			
			<div class="service"><a href="https://listen.tidal.com/album/<?php echo htmlentities($release['tidal_album'], ENT_QUOTES); ?>"><svg><use xlink:href="/svg/linkpage.svg#tidal" /></svg><span class="play">Play</span></a></div>






			<?php } if ($release['cd_url']) { ?>
			
			<div class="service"><a href="<?php echo htmlentities($release['cd_url'], ENT_QUOTES); ?>"><img src="/img/cd100.png" alt="Buy CD"><span class="play">Buy</span></a></div>

			<?php } ?>

			<?php } // end if now > release date ?>

		<?php if (strlen($descriptionText) > 0) { echo '<div class="blurb">' . $descriptionHTML . '</div>'; } ?>





























block prepend scripts
	script
		include ../js/youtube-min.js
		include ../js/blurhash-shared-min.js
		include ../js/blurhash-decode-min.js
		|var blurhashData = '<?php echo htmlspecialchars($release['blurhash']); ?>';
		include ../js/linkpage-min.js


	<?php if ($genBlurhash) { ?>
	script
		include ../js/blurhash-encode-min.js
	script.
		var sourceImageElement = document.getElementById("blurry");
		var componentXElement = document.getElementById("x");
		var componentYElement = document.getElementById("y");
		var blurhashElement = document.getElementById("blurhash");
		var originalCanvas = document.getElementById("originalCanvas");
		var outputCanvas = document.getElementById("outputCanvas");

		function render() {
			var blurhash = blurhashElement.value;
			if (blurhash) {
				var pixels = decode(blurhash, 32, 32);
				if (pixels) {
					var ctx = outputCanvas.getContext("2d");
					var imageData = new ImageData(pixels, 32, 32);
					ctx.putImageData(imageData, 0, 0);


				    dataUrl = outputCanvas.toDataURL();
					sourceImageElement.src = dataUrl;
				}
			}
		}

		// Re-render if we change the blurhash value
		blurhashElement.addEventListener("keyup", render);

		function clamp(n) {
		    return Math.min(9, Math.max(1, n));
		}

		function doEncode() {
		    var componentX = clamp(+componentXElement.value);
		    var componentY = clamp(+componentYElement.value);

			var ctx_1 = originalCanvas.getContext("2d");
			var imageData = ctx_1.getImageData(0, 0, originalCanvas.width, originalCanvas.height);
			var blurhash = encode(imageData.data, imageData.width, imageData.height, componentX, componentY);
			blurhashElement.value = blurhash;

			// Immediately render now that we have a blurhash value
			render();
		};

		componentXElement.addEventListener("change", doEncode);
		componentYElement.addEventListener("change", doEncode);

		var loaded = false;

		// As soon as real background image is loaded, put it into the canvas.
		sourceImageElement.onload = function () {
			if (!loaded) {
				var ctx_1 = originalCanvas.getContext("2d");

				ctx_1.drawImage(sourceImageElement, 0, 0, originalCanvas.width, originalCanvas.height);

				doEncode();

				loaded = true;
			}
		};


	<?php } ?>

	|<?php
	|$db->close();
	|?>