extends ../_layout.pug

block prelude
	|<?php
	|
	|require_once('../classes.php');
	|$db = new DowncodeDB();
	|$slug = isset($_GET['slug']) ? trim($_GET['slug']) : '';
	|// Figure out something clever to display if no album specified; show all. maybe in columns?
	|$albums = Array();
	|$album = NULL;
	|if (empty($slug)) {
	|	$albums = $db->allAlbums();
	|} else {
	|	$album = $albums[] = $db->albumForSlug($slug);
	|}
	|if ($album) {
	|$longTitle = $album['title'];
	|if (!empty($album['featuring'])) { $longTitle .= '[feat. ' . $album[featuring] . ']';
	|$longTitle .= ' - by ' . $album['artist'];
	|}
	|?>




block vars
	- var title = '<?php echo htmlentities($longTitle); ?>'
	- var current = '<?php echo htmlentities($album["title"], ENT_QUOTES)); ?>'
	- var description = 'BLAH BLAH BLAH BLAH'

block footer

block h1logo
	div(style="width:100%; height:4em; background-color:black")

block append links

	//- only do the metadata if we have a single album
	// FB OG tags
	<meta property='og:title' content='<?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta property='og:description' content='Preview, download or stream <?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta property='og:url' content='<?php echo htmlentities(curPageURL()); ?>'>
	<meta property='og:type' content='article'>
	<meta property='og:image' content='http://cdnlinks.linkfire.com/facebook_5a4cf73c50a2f_Final-BMxCB-SingleArt_5a4cf73c77286.jpg'> <!-- 600 x 315 -->
	<meta property='og:image' content='http://cdnlinks.linkfire.com/5a4cf73c50a2f_Final-BMxCB-SingleArt_5a4cf73c77286.jpg'> <!-- big square -->
	// additional media
	// Twitter summary card meta tags
	<meta name='twitter:url' value='<?php echo htmlentities(curPageURL()); ?>'>
	<meta name='twitter:title' content='<?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta name='twitter:description' content='Preview, download or stream <?php echo htmlentities($longTitle, ENT_QUOTES); ?>'>
	<meta name='twitter:card' content='summary_large_image'>
	<meta name='twitter:image' content='http://cdnlinks.linkfire.com/twitter_5a4cf73c50a2f_Final-BMxCB-SingleArt_5a4cf73c77286.jpg'> <!-- 440 x 220 -->
	<?php } ?>

block append styles
	link(rel='stylesheet', href='link.css')


block main
	div
		|<?php
		|foreach ($albums as $album) {
		|?>
		#prefpage
			#bg
				// Really we should have 640 square for good retina image.
				<img src="../album_art/<?php echo htmlentities($album['imageName'], ENT_QUOTES); ?>", alt="<?php echo htmlentities($album['title'], ENT_QUOTES); ?>">
			#img.imagecontainer(style='position:relative;')
				<img src="../album_art/<?php echo htmlentities($album['imageName'], ENT_QUOTES); ?>", alt="<?php echo htmlentities($album['title'], ENT_QUOTES); ?>">
			#header.service-container.sticky(style='z-index:9000; ;')
				.header
					h1.artist
						| <?php echo htmlspecialchars($album['artist']); ?> 
						br
						|  <?php echo htmlspecialchars($album['title']); ?>
						<?php $featuring = $album['featuring']; if (!empty($featuring)) { echo '(Featuring ' . htmlspecialchars($featuring) . ')'; } ?>
					p.where Download and stream now
				.arrow
			#service.service-container
				// Artist information
				// End of artist information
				.service
					a.img-btn.redirect(href='http://smarturl.it/Finesse12Inch', data-player='brunomars', data-servicetype='goto', data-apptype='manual')
						span
							img(width='125px', height='40px', style='display:inline-block;', src='music-service_brunomars.svg', alt='brunomars')
						span.play Limited 12” Vinyl
				.service
					a.img-btn.redirect(href='https://itunes.apple.com/us/album/finesse-remix-feat-cardi-b-single/1328526390?uo=4&&app=itunes&at=1010lKkX&ct=LFV_e00e0cfbd461e64db33ee18b3d048681', data-player='itunes', data-servicetype='download', data-apptype='manual')
						span
							img(width='125px', height='40px', style='display:inline-block;', src='music-service_itunes.svg', alt='itunes')
						span.play Download
				.service
					a.img-btn.redirect(href='https://open.spotify.com/user/brunomars/playlist/1B9BPUMWDtl4ASyG4f693s', data-uri='spotify:user:brunomars:playlist:1B9BPUMWDtl4ASyG4f693s', data-player='spotify', data-servicetype='play', data-apptype='manual')
						span
							img(width='125px', height='40px', style='display:inline-block;', src='music-service_spotify.svg', alt='spotify')
						span.play Play
				.service
					a.img-btn.redirect(href='https://itunes.apple.com/us/album/finesse-remix-feat-cardi-b-single/1328526390?uo=4&&app=music&at=1010lKkX&ct=LFV_e00e0cfbd461e64db33ee18b3d048681', data-player='applemusic', data-servicetype='play', data-apptype='manual')
						span
							img(width='125px', height='40px', style='display:inline-block;', src='music-service_applemusic.svg', alt='applemusic')
						span.play Play
				.service
					a.img-btn.redirect(href='http://amazon.com/Finesse-Remix-feat-Cardi-B/dp/B078KPMXXP?tag=warnermusicuk-21&ie=UTF8&linkCode=as2&ascsubtag=e00e0cfbd461e64db33ee18b3d048681', data-player='amazonmp3', data-servicetype='download', data-apptype='manual')
						span
							img(width='125px', height='40px', style='display:inline-block;', src='music-service_amazonmp3.svg', alt='amazonmp3')
						span.play Play
				.service
					a.img-btn.redirect(href='https://youtu.be/LsoLEjrDogU', data-player='youtube', data-servicetype='play', data-apptype='manual')
						span
							img(width='125px', height='40px', style='display:inline-block;', src='music-service_youtube.svg', alt='youtube')
						span.play Play
				.service
					a.img-btn.redirect(href='https://play.google.com/store/music/album?id=Bee43mdsj4g2kwvoakhwe2bmgfq&tid=song-Tdqdsrwdmzgpo3azztlj3comnle&PAffiliateID=10lHrU&PCamRefID=LFV_e00e0cfbd461e64db33ee18b3d048681', data-player='google-play', data-servicetype='download', data-apptype='manual')
						span
							img(width='125px', height='40px', style='display:inline-block;', src='music-service_google-play.svg', alt='google-play')
						span.play Download
				.service
					a.img-btn.redirect(href='http://www.deezer.com/album/53983322?app_id=140685', data-player='deezer', data-servicetype='play', data-apptype='manual')
						span
							img(width='125px', height='40px', style='display:inline-block;', src='music-service_deezer.svg', alt='deezer')
						span.play Play
				// Last option should be 'i dont know'



		|<?php
		|}
		|?>

block scripts
	|<?php
	|$db->close();
	|?>

//- [title] => You and Me Now
//- [description] => 
//- [imageName] => you-and-me-now
//- [timestamp] => 2019-05-17 01:08:12
//- [artist] => Aendru
//- [featuring] => Lorenzo Wood
//- [itunes_id] => 
//- [apple_music_id] => 
//- [spotify_id] => https://open.spotify.com/album/1XaP6iC5xkcaqVZdf2hXRC?si=eHxI7fTAS3OnDNnqIIiriA
//- [google_play_id] => 
//- [amazon_music_id] => 
//- [soundcloud_id] => https://soundcloud.com/andrewwilsonmusic/aendru-you-me-now-feat-lorenzo-wood
//- [deezer_id] => //- 