extends ../_layout.pug


block vars
	- var title = 'Lorenzo Wood Studio'
	- var current = 'Studio'
	- var description = 'Lorenzo Wood makes his studio available for fellow musicians.'

block main
	section
		article.textual
			p.
				TK
			div
				a(href="https://www.facebook.com/HunterWatsonFund/posts/814092892278169" style="text-decoration:none")
					div.clearfix
						img(src="huntersfriends.png", style="width:40px; height:40px; float:left; margin-right:10px", alt="Hunter's Friends")
						div(style="color:#365899;font-size:14px") Hunter Watson Fund
						div x