extends ../_layout.pug


block vars
	- var pageTitle = 'Videos'
	- var currentClass = 'videos'
	- var description = 'Videos of songs, music snippets, and Lorenzo Wood at work making music'

block append links
	link(href=cloudRawPrefix + "css/component_aos.css" rel="stylesheet")
	include ../_noscript_aos.html

block main
	section.unpadded.balance-footer
		header.ir(aria-hidden="true")
			h2 YouTube

		article.columns-2-1
			.youtube-border
				.youtube-player(data-aos='fade-left', data-code='oEZW1en3uB8' data-title='I Dare You - Kelly Clarkson cover')
				p I hope you like the direction I took this in - tried to funkify it a little bit and add my own little twist.
			.youtube-border
				.youtube-player(data-aos='fade-right', data-code='ixUV87pKtBg' data-title='Falling - Harry Styles cover')
				p A benefit for COVID-19 relief from twelve musicians around the USA. This cover song can be <a href="https://www.lorenzowoodmusic.com/link/falling">streamed or downloaded</a> from Apple Music, Spotify, etc.

		article
			.youtube-border.centered
				.youtube-player(data-aos='fade-up', data-code='TkDhR4FMHVg' data-title='Lorenzo Wood - Still Need Love (Official Lyric Video)')
				p Written, produced, mixed, mastered, filmed, directed, edited - literally all done by me! <a href="https://www.lorenzowoodmusic.com/link/still-need-love">Stream or download here.</a>

		article.columns-3-1
			.youtube-border
				.youtube-player(data-aos='fade-left', data-code='PfjIqix5ZZw' data-title='Heartless (Diplo & Morgan Wallen) Cover')
				p This cover song can be <a href="https://www.lorenzowoodmusic.com/link/heartless">streamed or downloaded</a> from Apple Music, Spotify, etc.  This is the music video I edited - thanks to Koii Benvenutto and Thomas Smith for helping!
			.youtube-border
				.youtube-player(data-aos='fade', data-aos-delay='200', data-aos-duration="1000", data-code='iVHF1RM7a9I' data-title='Lorenzo Wood - Jacket (I\'m Sensitive)')
				p Official music video, directed by Jeremy Stuart. <a href="https://www.lorenzowoodmusic.com/link/jacket">Stream or download here.</a>
			.youtube-border
				.youtube-player(data-aos='fade-right', data-code='w0F0IGdHtxs' data-title='Lorenzo Wood - Jacket (Feat. Kaia)')
				//- just some empty space below so it's not crowded on mobile display
				p
					br

		article
			.youtube-border.centered
				.youtube-player(data-aos='fade-up', data-code='JZaKGj-LSbg' data-title='Lorenzo Wood Live at Lone Tree Cemetery (highlights)')
				p The band played at nearby cemetery's summer concert series. Here are some snippets from the performance.

		article.columns-2-1
			.youtube-border
				.youtube-player(data-aos='fade-left', data-code='MbT0Vmne8-A' data-title='Los Altos Street Fair')
				p July 2018. A compilation of eight songs I sang at the Los Altos Art & Wine Festival. Many songs employ the <a href="https://www.tc-helicon.com/product.html?modelCode=P0DEG">VoiceLive 3 Extreme</a> to loop bass, percussion, and effects.
			.youtube-border
				.youtube-player(data-aos='fade-right', data-code='COfT-rhxVD4' data-title='Busking in Walnut Creek, May 2018')
				p I had just turned sixteen so here is a compilation of … well, eighteen songs that I performed while busking at the Walnut Creek Art On The Main festival in 2018.

		article.columns-3-1
			.youtube-border
				.youtube-player(data-aos='fade-left', data-code='A8vcWMXVR7I' data-title='Imagine - John Lennon (Lorenzo Wood Cover)')
				p A live cover of the 1971 John Lennon classic. A quick video filmed in my dining room at 1 AM.
			.youtube-border
				.youtube-player(data-aos='fade', data-aos-delay='200', data-aos-duration="1000", data-code='70I6bRqtJfI' data-title='Shawn Mendes - In My Blood (Live Acoustic Cover)')
				p I learned, recorded, and released this cover just a few hours after Shawn Mendes released the song on March 22, 2018.
			.youtube-border
				.youtube-player(data-aos='fade-right', data-code='ZMnSrxiWkBs' data-title='In The Air Tonight by Phil Collins (cover by Lorenzo Wood)')
				p A live looping version of the Phil Collins song, recorded in one continuous shot. Programmed using Apple MainStage. It took quite a few takes to get through the whole song!

		article
			.youtube-border.centered
				.youtube-player(data-aos='fade-up', data-code='RynQ3nswXyk' data-title='Shawn Mendes - Ruin (Lorenzo Wood Cover)')
				p One of my favorite songs from Shawn Mendes' <i>Illuminate</i> album. One of the best videos I've put out.

		article.columns-3-1
			.youtube-border
				.youtube-player(data-aos='fade-left', data-code='ipoL1h1d7zA' data-title='Keith Urban - Female (Loop cover)')
				p A live looping cover. Voice, keyboards, synths, percussion, bass, and guitar. Programmed using Apple MainStage.
			.youtube-border
				.youtube-player(data-aos='fade', data-aos-delay='200', data-aos-duration="1000", data-code='FIN3qK-COZ8' data-title='Niall Horan - On My Own (Lorenzo Wood cover)')
				p Made on Thanksgiving 2018. A song from an amazing album by one of my favorite singers.
			.youtube-border
				.youtube-player(data-aos='fade-right', data-code='d87LW4xjATw' data-title='Khalid - Young Dumb & Broke (Lorenzo Wood cover)')
				p A simple live cover, with guest appearance by my dog Capo.

		article
			.youtube-border.centered
				.youtube-player(data-aos='fade-up', data-code='VHcn_Nr4_u4' data-title='Charlie Puth - Attention (Lorenzo Wood Cover)')
				p A full arrangement (from 2017, when I was 15 years old) of Charlie Puth's hit song. I put a lot of work into this one.

		footer.safe-area

			h3
				a(href="https://www.youtube.com/lorenzowoodmusic") More from YouTube

block prepend scripts
	script(src=cloudRawPrefix + "js/aos.js")
	script
		include ../js/youtube-min.js
		//- FOR NOW - REPLACE MISSING VIDEO THUMBNAIL WITH OUR OWN!
		//- EVEN NEEDED WITH CLOUDINARY BECAUSE FULL SIZE IS NOT AVAILABLE
		//- NEEDED FOR NON-CDN ... |document.getElementById('video-A8vcWMXVR7I').src = 'https://img.youtube.com/vi/A8vcWMXVR7I/hqdefault.jpg';
		|document.getElementById('video-A8vcWMXVR7I').style = 'top:-16.84%';
		|AOS.init({disable: 'mobile', once: true});
