extends _song.pug

block vars
	- var pageTitle = 'Falling'
	- var pageArtist = '2AM in the Basement'
	- var releaseDate = 'May 1, 2020'

	//- - var youtubeSlug = ''

	//- used for link page (without file extension) and to identify cover file.
	- var slugAndCoverFile = 'falling.jpg'

block song
	h3 For Immediate Release

	p: b Teen Musicians Create Cover of the Harry Styles Song "Falling" to Raise Funds for COVID-19 Relief

	p.
		ALAMEDA, CALIFORNIA, May 1, 2020 — Musician Lorenzo Wood today is releasing a cover of the hit song "Falling," in collaboration with a virtual orchestra of 11 other teen musicians from around the United States, to raise money for COVID-19 relief. Proceeds from downloads and streams of the song, and views of the video, will go to a mix of charities that Wood has selected.

	p.
		"Falling" was originally recorded by English singer and songwriter Harry Styles, and released earlier this year.

	p.
		Wood initially recorded the song in his home studio with vocals and basic instrumentation of keyboards, guitars, and electric bass. But then, after being in touch online throughout the Coronavirus crisis with a number of fellow young musicians all over the country, fellow graduating seniors who have been accepted into Belmont University and USC Thornton School of Music, he had the idea of accumulating additional parts for the song. He wrote arrangements for new instrumentation and emailed sheet music and reference recordings to his new acquaintances along with some old friends.
	p.
		"I was a little worried about how some of the contributions would sound," said Wood.  "Many of these musicians are stuck at home with their instrument but without any recording equipment.  So a lot of them used their iPhone with a bit of technology and work. Fortunately I was able to process and clean up the sounds just fine. The microphones built into iPhones are actually pretty good."

	p.
		Additional instruments added to the mix include backing vocals, strings, brass, woodwinds, and drums/percussion.
		
	p.
		Lorenzo is releasing the song "Falling" under his pseudonym, 2AM in the Basement, that he uses for cover songs. (He releases his songs under his own name.) Wood's cover of the song adds additional energy to the original version. Singer/Producer Delanie Leclerc of Southeast Florida is a featured vocalist, singing a minimal, stripped chorus before a reprise featuring all of the contributing musicians at once.

	p.
		The song also comes with a music video. Everybody made video recordings of their part at their homes.

	p.
		Wood and his collaborators have decided to use this release, and its unique circumstances, as a way to raise funds for several COVID-19 relief charities. Lorenzo will be contributing the net proceeds from downloads and streams of the song collected for the first 2 months after its release to a mix of nonprofits: American Guild of Musical Artists (AGMA) Relief Fund, Feeding America, and Freelancers Relief Fund.

	p.
		Wood credits his parents with the idea of using the song to raise money. "We are all feeling a bit overwhelmed with staying at home and social distancing," said Lorenzo. "But they helped me understand that what I'm going through is nothing to complain about. The unemployment levels are horrible, and like me, musicians all over the world are having their gigs cancelled. And many people who are still working are putting their lives on the line every day."

	p.
		Musicians are especially impacted by the societal changes due to the Coronavirus, as many rely on crowds at live performances, cancelled for the forseeable future. The AGMA relief fund, one of the targetted charities, was chosen out of solidarity with fellow musicians.

	p.
		Readers are encouraged to watch the video, and share it with friends, and stream/purchase the song.

	p: b Ends

	p.
		For further information, please contact <a href="mailto:info@lorenzowoodmusic.com">info@lorenzowoodmusic.com</a> or 
		<img class="ghost" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAAAOBAMAAAA8gTSSAAAAGFBMVEX///8GBgZfX1+/v7/f399/f3+fn58/Pz/0OKciAAAA30lEQVR4XtWRwUrDUBRED+/lNetrW9xG6AdchabbbKrbCsF1ggu3poZ+v2UutOQHBGcRDmeYXEL485h9c2ygeppRqmlGhmInmXczh9EFUUED+dJA6hJK7YcwnDuUntJRXVygSrt4HK8OCJApqpQEdesBhJ5sELasXCL5S5Q1t+zhQ/VelVLNwk/ykMweyLaOMj1vkYGeqtGuv+94Xd5780MXu10ZiDQUs43gvmuX36cXaCcPkE8gK5Bc7fIsrP2L5b18u1c67QJix/jo2Wyt36bk6QcZxi2RBGAbgap/k18A4SCIF3ziIAAAAABJRU5ErkJggg==" alt="" />
	
	hr

block moreLinks

	h3 Recipient Charities
	ul
		li: a(href="https://www.musicalartists.org/membership/agma-relief-fund/") AGMA Relief Fund
		li: a(href="https://www.feedingamerica.org") Feeding America
		li: a(href="https://www.freelancersunion.org/resources/freelancers-relief-fund/") Freelancers Relief Fund

	h3 Collaborators
	p Most of the collaborators can be contacted via Instagram. Listed alphabetically by last name here:

	mixin instagram(name, instrument, handle)

		li
			|#{name}
			|
			|(#{instrument})
			|
			if handle != ''
				a(href='https://www.instagram.com/' + handle) @#{handle}

	ul
		+instagram('Terry Cowley', 'Tuba, Upright Bass', 'mea_hookani_pila')
		+instagram('Ana-Laura Galindo', 'Clarinet', 'analaura_galindo')
		+instagram('Elina Graham', 'Clarinet', '')
		+instagram('Delanie Leclerc', 'Vocals', 'delanieleclerc')
		+instagram('Ada Papila', 'Voice', 'adapapilamusic')
		+instagram('Anna Renton', 'Violin and Viola', 'anna.renton')
		+instagram('J Tolub', 'Trumpet', 'jthecomposer')
		+instagram('Zander Scott', 'Drums', 'zander_scott_')
		+instagram('Bailey Wise', 'Cello', 'baileymwise')
		+instagram('Andrew Wilson', '808s/Drum Pads', 'parayasound')
		+instagram('Lorenzo Wood', 'Vocals, Arrangement, Production', 'lorenzowoodmusic')
		+instagram('Andy Young', 'Trombone', 'andyyru')

	p
		|Delanie Leclerc on
		|
		a(href='https://open.spotify.com/artist/547XK7rrl55NSCTqDa7TUx') Spotify

