extends ../_layout.pug

block prelude
	|<?php
	|
	|require_once('../classes/downcode.php');
	|$db = new DowncodeDB();
	|$albums = $db->allReleases();
	|
	|?>


block vars
	- var pageTitle = 'Press & Media'
	- var currentClass = 'press'
	- var description = 'Press Kit for Lorenzo Wood'

block styles
	style
		|table { width:100%; border-collapse: collapse; border:1px solid rgba(0,0,0,0.25);}
		|td { padding:5px; }
		|td a { display:block; text-decoration:none }
		|td.info { opacity:0.5 }
		|td.thumb { min-width:32px; }
		|.thumb img { width:32px; }
		|.socials svg { width:2em; padding:10px 10px 10px 0; }
		|tr:nth-child(even) {background: rgba(0,0,0,0.1)}

block footer-icons

block append links
	link(rel="prefetch" href="//img.youtube.com")
		//- This should be done on any page showing YOUTUBE VIDEOS
	
include shared.pug

block prepend main
	section
		article.textual.unpadded
			h4 Press Kit - Lorenzo Wood (and 2AM in the Basement)


block append main
	section
		article.textual

			h1 Additional Resources

			h2 Photos

			include ../photos/_photos.pug


			h2 Video

			p Lorenzo Wood's videos appear on primarily on his YouTube channel at <a href="https://youtube.com/lorenzowoodmusic">youtube.com/lorenzowoodmusic</a>.
			p For example:
			
			article.clearfix.textual
				.youtube-column-4
					.youtube-border
						.youtube(data-code='TkDhR4FMHVg' data-title='Lorenzo Wood - Still Need Love (Official Lyric Video)' data-linking='true')
						p 2020 single - Written, produced, mixed, mastered, filmed, directed, edited by Lorenzo Wood

				.youtube-column-4
					.youtube-border
						.youtube(data-code='PfjIqix5ZZw' data-title='Heartless - Cover by 2AM In The Basement' data-linking='true')
						p A cover of a song by Diplo & Morgan Wallen; Video edited by Lorenzo Wood

				.youtube-column-4
					.youtube-border
						.youtube(data-code='iVHF1RM7a9I' data-title='Lorenzo Wood - Jacket (I\'m Sensitive)' data-linking='true')
						p Official music video of the 2019 single, directed by Jeremy Stuart

				.youtube-column-4
					.youtube-border
						.youtube(data-code='JZaKGj-LSbg' data-title='Lorenzo Wood Live at Lone Tree Cemetery (highlights)' data-linking='true')
						p The band played at nearby cemetery's summer concert series. Here are some snippets from the performance.
			

			h2 Music Releases

			table
				<?php foreach ($albums as $album) {
				|	$now = new DateTime();
				|	$release = $now;   // default to now, so it should show up as released
				|	$releaseDateString = NULL;
				|	if (empty($album['release_date'])) { continue; } // must have a release date
				|	$release = new DateTime($album['release_date'], new DateTimeZone('America/New_York'));
				|	$now = new DateTime();
				|	if ($now < $release) { continue; }		// DO NOT SHOW UNRELEASED
				|
				|	$releaseDateString = ($now < $release) ? $release->format('l, F jS') : $release->format('F Y');
				|	?>
					
				tr
					td.thumb <img src="<?php echo htmlentities($db->pathForImageSize($album, 64), ENT_QUOTES); ?>" alt="<?php echo htmlentities($album['title'], ENT_QUOTES); ?>" />
					td <?php echo htmlspecialchars($album['title']); ?>
					td.info 
						|<?php
						|echo htmlspecialchars($album['artist_name']);
						|if ($album['featuring']) {
						|	echo '<br> feat. ' . htmlspecialchars($album['featuring']);
						|} ?>
					td.info <?php echo (($now<$release)?'<b>':'') . htmlspecialchars($releaseDateString) . (($now<$release)?'<b>':''); ?>
					td
						|<?php if ($now >= $release) {
						|	echo '<a href="/link/' . htmlentities($album['slug'], ENT_QUOTES) . '">Stream/<br/>Download</a>';
						|} ?>
					td
						|<?php if ($now>=$release && $album['has_press_page']) {
						|	echo '<a href="' . htmlentities($album['slug'], ENT_QUOTES) . '">Press Page</a>';
						|} ?>

				<?php }  ?>

			p.
				2AM in the Basement is the pseudonym for Lorenzo's additional projects, covers of songs by other artists. Starting with a cover of "Old Town Road" by Lil Nas X, Lorenzo started releasing his productions of other people's songs so as not to "muddy the waters." and detract from his own songs.


			

block prepend scripts
	script
		include ../js/youtube-min.js

