extends _song.pug

block prepend prelude
	<?php $slug = 'jacket';?>

block vars

	- var youtubeSlug = 'iVHF1RM7a9I'
	- var youtubeSlug2 = 'w0F0IGdHtxs'

	//- used for link page (without file extension) and to identify cover file.
	- var slugAndCoverFile2 = 'jacket-ep.jpg'
	- var artworkDesigner = 'Kyle Wonzen'
	- var artworkDesignerURL = 'http://designology.co'

block song
	p: b.
		"Jacket" is a song about how your friends need to support you, even if they don't understand what you're going through.
	p.
		First released as a single, Lorenzo followed up the song with an EP consisting of several alternative versions:
	p.
		Vocals, guitars, keyboards, drum & synth production: Lorenzo Wood
	ul
		li A rock version
		li A remix by artist <em>Aendru</em>, who had colloborated in the past when Lorenzo was the featured vocalist in the song "You and Me Now"
		li An acoustic-driven duet featuring the singer <em>Kaia</em>, also made into a music video.
	
	h3 Awards
	p
		b: a(href="https://www.westcoastsongwriters.org") West Coast Songwriters
		|, Palo Alto - Best Song, January 2019; Best Song of the Year 2019.
	p.
		West Coast Songwriters, Song of the Year finalist, performing at the 2019 West Coast Songwriters Annual Conference 

	p.
		<a href='https://songwritingcompetition.com/winners'>International Songwriting Competition</a>, 2019 Honorable Mention, one of twelve awarded in the Teen category. (They received over 18,000 submissions.)

	h3 Press
	p
		a(href='https://alamedasun.com/news/young-alameda-musician-releases-new-single') Young Alameda Musician Releases New Single
		|, <em>Alameda Sun</em>, May 30, 2019

block lyrics
	pre.lyrics.
		My friends won’t understand me 
		When I try and tell them why I won’t talk to her anymore 
		Are they not good friends 
		Even if I’m wrong and she’s all in the clear 
		I could still use a bit of support over here 
		Why can’t they take my side while I’m in my head 

		Right now I’m not my best 

		I’m sensitive 
		I don’t have the thickest skin 
		Words cut deeper than you’d think 
		So I’m bracing myself from the wind 

		I’m not good in the cold 
		I need a jacket everywhere 
		While you’re just fine with a T-shirt 
		Living life in the open air 
		But I can’t ‘cause I’m sensitive 

		Oh no

		It shouldn’t matter what she said to me 
		They should take my word if I don’t want to talk about it 
		They could say it’s gonna be alright 

		Is someone really a friend to me 
		If all they’ve done is judge what I say and I do 
		I guess I need new friends 

		You gotta know I’m trying my best

		But I’m sensitive 
		I don’t have the thickest skin 
		Words cut deeper than you’d think 
		So I’m bracing myself from the wind 

		I’m not good in the cold 
		I need a jacket everywhere 
		While you’re just fine with a T-shirt 
		Living life in the open air 
		But I can’t ‘cause I’m sensitive 

		Oh oh oh
		Oh oh oh
		Oh oh oh

		You know I’m sensitive 
		I don’t have the thickest skin 
		Words cut deeper than you’d think 
		I’m bracing myself from the wind 

		I’m not good in the cold 
		I need a jacket everywhere 
		You’re just fine with a T-shirt 
		Living life in the open air 
		Well I can’t ‘cause I’m sensitive 
		 
		I'm sensitive, I'm sensitive

		Well I can't 'cause I'm sensitive


block moreLinks
	h3 Additional Links
	p
		<a class="spotify" href="https://open.spotify.com/artist/1BGQD9MGL3oUkS4sN86Wec">Aendru</a> on Spotify; his song <a href="https://open.spotify.com/track/52ybpfalBibR8F2qIGGggv">You and Me Now</a>.
	p
		<a href="https://www.kaiasongs.com">Kaia homepage</a>.


