extends _song.pug

block prepend prelude
	<?php $slug = 'more-than-friends';?>

block vars

	//- - var youtubeSlug = ''

	- var privateSoundCloud = 'https://soundcloud.com/lorenzowoodmusic/more-than-friends-releasing-on-may-1/s-Jznggs6I7kA'
	- var privateSoundCloudClean = 'https://soundcloud.com/lorenzowoodmusic/more-than-friends-clean-version/s-nX1HoYzNcUN'

	

	- var privateSoundCloudEmbed = '<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/797933995%3Fsecret_token%3Ds-Jznggs6I7kA&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>'


	//- used for link page (without file extension) and to identify cover file.
	- var artworkDesigner = 'Kyle Wonzen'
	- var artworkDesignerURL = 'http://designology.co'

block song
	p: b.
		More Than Friends is an upbeat song about the hopeful transition from being just friends into something more. 

	p.
		"It's a pretty happy song, which is hard for a lot of songwriters to write. I only have a few of them," said Lorenzo Wood, the writer and producer of the song. "Yes, it is written about a particular person, so shout-out to her for the inspiration."

	blockquote
		|'More Than Friends' is a soft Electro Pop track with a brief interlude of sultry saxophone to add to the musical layers and production.
		footer
			a(href="https://www.laonlock.com/reviews/5/1/2020/lorenzo-wood-more-than-friends-review") LA On Lock
	
	blockquote(title="En upplyftande poplåt om att satsa helhjärtat på ett förhållande och ta det från vänskap till något mer. Allt skriven och producerat av sångaren och du hittar även en kryddning med saxofon i låten. Så väldigt charmig.") An uplifting pop song about investing wholeheartedly in a relationship and taking it from friendship to something more. Everything written and produced by the singer and you also find spice with saxophone in the song. So very charming.
		footer
			a(href="https://popmuzik.se/104966/lorenzo-wood-more-than-friends/") Popmuzik
			|
			|
			span(style="opacity:0.3") (translated from Swedish)

	blockquote
		|I love how this song conveys the underlying anxieties of a crush; the vocals are very smooth, but accompanied by a faster beat, which mimics the way your heart might beat faster around someone despite your normal behavior.
		footer
			a(href="https://www.unheardgems.com/post/more-than-friends-lorenzo-wood-review") Unheard Gems


	p.
		Featured on <a href="https://alfitude.com/2020/05/01/new-music-lorenzo-wood/">Alfitude New Music</a>.



	//-p: em.
	//-	Video forthcoming.

block lyrics
	pre.lyrics.
		I woke up at 5 a.m.
		Just to talk to you
		Before your flight to LA
		And I’m wondering would you do the same for me too?

		And judging from our texts at night
		There’s something in between us
		And based on how you smile at me 
		That’s another reason to believe it 

		So I wanna be more than friends
		Tryna give it a shot with us two
		So if you’re feeling like I’ve been
		Then this could be beautiful 

		I fuckin’ wanna be more than friends
		Know I just wanna be with you
		So if you’re thinking like I am
		Well that’s what we gotta do
		Be more than friends

		(Yeah)
		(Just come on, girl)

		More than friends

		This level of sarcasm 
		Just has to be you flirting 
		The thought that you want this like I do
		Has got my heart bursting 

		This week has been too much talking
		Not enough kissing your lips
		Yuh every fucking day
		Can’t stop thinking ‘bout you and how

		I wanna be more than friends
		Tryna give it a shot with us two
		So if you’re feeling like I’ve been
		Then this could be beautiful 

		I fuckin’ wanna be more than friends
		I just wanna be with you
		So if you’re thinking like I am
		Well that’s what we gotta do

		(Be more than friends)
		I wanna be more than friends
		I hope you wanna give it a shot with us two
		If you’re feeling like I’ve been
		Then this could be beautiful 
		(This could be beautiful)
		I fuckin’ wanna be more than friends
		I just wanna be with you
		If you’re thinking like I am
		Well that’s what we gotta do
		(That’s what we gotta do)

		Be more than friends

