extends _song.pug

block vars
	- var pageTitle = 'More Than Friends'
	- var pageArtist = 'Lorenzo Wood'
	- var releaseDate = 'May 1, 2020'

	//- - var youtubeSlug = ''

	//- used for link page (without file extension) and to identify cover file.
	- var slugAndCoverFile = 'more-than-friends.png'
	- var artworkDesigner = 'Kyle Wonzen'
	- var artworkDesignerURL = 'http://designology.co'

block song
	p.
		More Than Friends is an upbeat song about the hopeful transition from being just friends into something more. 

	p.
		"It's a pretty happy song, which is hard for a lot of songwriters to write. I only have a few of them," said Lorenzo Wood, the writer and producer of the song. "Yes, it is written about a particular person, so shout-out to her for the inspiration."






	blockquote
		|'More Than Friends' is a soft Electro Pop track with a brief interlude of sultry saxophone to add to the musical layers and production.
		footer
			a(href="https://www.laonlock.com") LA On Lock



	//- TO ADD: Unheard Gems, 



	p: em.
		Video forthcoming.
