extends _song.pug

block vars
	- var pageTitle = 'Still Need Love'
	- var pageArtist = 'Lorenzo Wood'
	- var releaseDate = 'March 27, 2020'

	- var youtubeSlug = 'TkDhR4FMHVg'

	//- used for link page (without file extension) and to identify cover file.
	- var slugAndCoverFile = 'still-need-love.jpg'
	- var artworkDesigner = 'Kyle Wonzen'
	- var artworkDesignerURL = 'http://designology.co'

block song
	p.
		"Still Need Love" is the first of several singles that Lorenzo Wood is releasing in Spring 2020. Lorenzo calls this song "the start of my new era of music with a fiery beat and smooth saxophone."
	p.
		Originally meant to be a song about depression and heartbreak, it gains new meaning during the lonely times of COVID-19 social distancing and being stuck at home.

	p Featured on WKNY Radio Kingston | 1490 AM, 107.9 FM on "<a href="https://www.itsrhythmandviews.com">Rhythm & Views</a>," May 2nd
	p Featured on <a href="https://www.facebook.com/CBN-Network-408993199924636>Caribbean Broadcast Network</a>
