extends _song.pug

block prepend prelude
	<?php $slug = 'still-need-love';?>

block vars

	- var youtubeSlug = 'TkDhR4FMHVg'

	//- used for link page (without file extension) and to identify cover file.
	- var artworkDesigner = 'Kyle Wonzen'
	- var artworkDesignerURL = 'http://designology.co'

block song
	p: b.
		"Still Need Love" is the first of several singles that Lorenzo Wood is releasing in Spring 2020. Lorenzo calls this song "the start of my new era of music with a fiery beat and smooth saxophone."
	p.
		Originally meant to be a song about depression and heartbreak, it gains new meaning during the lonely times of COVID-19 social distancing and being stuck at home.

	p Featured on WKNY Radio Kingston | 1490 AM, 107.9 FM on "<a href="https://www.itsrhythmandviews.com">Rhythm & Views</a>," May 2nd
	p Featured on <a href="https://www.facebook.com/CBN-Network-408993199924636">Caribbean Broadcast Network</a>
	p Featured on <a href="https://talkaboutpopmusic.com/2020/04/20/playlist-discover-weekly-20th-april/">Talk About Pop Music</a>, playlist: Discover Weekly 20th April.


block lyrics
	pre.textual.
		Lying in my room again on my iPhone 
		All the days wasting away, where’d they all go?
		I’ve been watching Netflix again just to escape 
		Yeah I can’t bring any meaning to my own name

		How could I ever be someone desirable
		When I can’t think of me smiling again
		And how could I ever be with someone else
		When I don’t know who I am

		But I still need love 
		I need something to get me through 
		I need new purpose for myself and everything I do
		Yeah still I need love 
		I know I need something new
		I need new purpose for myself and everything I do
		Yeah I still need love

		I got songs to sing but no one to sing to
		You know I wanna see the whole world from a new point of view 
		But I tapped over to your story, see your arm around someone new
		And I bet you haven’t even checked mine to see what I been up to

		But I still need love 
		I need something to get me through 
		I need new purpose for myself and everything I do
		Yeah still I need love 
		I know I need something new
		I need new purpose for myself and everything I do
		Yeah I still need love
