extends _song.pug

block prepend prelude
	<?php $slug = 'unfollow'; ?>

block vars
	//- - var privateSoundCloud = 
	//- - var privateSoundCloudEmbed = 



	//- used for link page (without file extension) and to identify cover file.
	- var artworkDesigner = 'Kyle Wonzen'
	- var artworkDesignerURL = 'http://designology.co'

block song

	p
		TK

	


block lyrics
	pre.textual.
		TK

block credits
	p.
		TK