extends _layout.pug


block styles
	style
		include ../intermediate/css/page_home.css


block main


	section.production
		header.ir(aria-hidden="true")
			h2 Production & Projects
		article.production

			// h2 2021

			section
				article
					h3 Aden

			section
				article
					h3 Ethan Danto
					h4 Pass in Time
					p Production
				aside
					p soon come
			section
				article
					h3 Elly Shane & Ryan Baer
					h4 Song title TBA
					p Prototype mix/master. Soon to be released. An awesome team!
				aside
					p: i Photo of them? I couldn't find any on the internet.

			section.cover
				article
					h3 Niko Korolog
					p Session vocals for songs available for TV & movie sync
				aside
					iframe#rv1.reverbnation(width="100%" height="150" scrolling="no" frameborder="no" src="https://www.reverbnation.com/widget_code/html_widget/artist_214534?widget_id=55&pwc[song_ids]=32056693&context_type=song&pwc[size]=small")
					iframe#rv2.reverbnation(width="100%" height="150" scrolling="no" frameborder="no" src="https://www.reverbnation.com/widget_code/html_widget/artist_214534?widget_id=55&pwc[song_ids]=31484152&context_type=song&pwc[size]=small")

			section.video
				article
					h3(style="font-size:2rem") Coast to Coast: a collaboration between USC and NYU artists
					p: i Can you unpack this a bit more?  Does this mean you did recording and mixing for the songs in this set from Maverick, Ellie Williams, and Sumit?
				aside
					.youtube-grid-container: .youtube-player(data-code='Y_WryMoZ2C4' data-title='Coast to Coast – USC x NYU Live Performances')

			section
				article
					h3 Alex Oliva
					h4 Live for 840 west livestream
					p working with Langdon Dearborn: shot video, edited, and graded video.
				aside
					p: i Video Coming Soon
			section
				article
					h3 Tiny Dorm<br> <span style="font-size:2rem">Spring 2021</span>
					h4(style="font-size:1.8rem") Live sound and mixing for performances by Kid Sistr, Tippy Balady, and Kabwasa 
				aside
					p: i Video Coming Soon
			section
				article
					h3 Tiny Dorm<br> <span style="font-size:2rem">Spring 2021</span>
					h4(style="font-size:2rem") sound, mixing: c&nbsp;a&nbsp;n&nbsp;d&nbsp;i&nbsp;d&nbsp;!, kid hastings
				aside
					p: i Video Coming Soon
			section.video
				article
					h3(style="font-size:2.5rem") Musical Theatre Repertory at USC
					h4(style="font-size:2rem") Unprecedented: A Modern Musical
					p Music editing and mixing
					p It was lots of work but was fun to be a part of it and meet the team
				aside
					.youtube-grid-container: .youtube-player(data-code='Hp1Lzxg93ng' data-title='Coast to Coast – USC x NYU Live Performances')
			section.cover
				article
					h3(style="font-size:3rem") Alex Oliva, Jillian Batt
					h4 U & I
					p Mixed, engineered, vocal produced
					p Great team, planning on working with them more in the future
				aside
					iframe.spotify(src="https://open.spotify.com/embed/track/1k5SALiKnAbkA2zYrMMTgq" frameborder="0" allowtransparency="true" allow="encrypted-media")
			
			section.cover
				article
					h3 Cooper + Millett
					h4 Perfect
					p: i description of work done?  Photos of you with artist, or cool photo of artist?
				aside
					iframe.spotify(src="https://open.spotify.com/embed/track/2pcgn8lLynO2C1T7rPx1gq" frameborder="0" allowtransparency="true" allow="encrypted-media")
			section
				article
					h3 Rose Avenue
					p Live Sound
					p: i Date?
				aside
					img(src="/img/roseave.jpg")
	
			section
				h2 2020
			section.cover
				article
					h3 Sam Johnson
					h4 Flower Petals
					p co-wrote, produced
				aside
					iframe.spotify(src="https://open.spotify.com/embed/track/0coW9BxlUEDD3HrEmrhnZJ" frameborder="0" allowtransparency="true" allow="encrypted-media")
			section.video
				article
					h3 Sam Johnson
					h4 Monsters on TV
					p co-wrote, produced song, co-directed music video
				aside
					.youtube-grid-container: .youtube-player(data-code='L-R8aLbhMkI' data-title='Sam Johnson - Monsters On TV - (Official Music Video)')



			section
				h2.smaller 2018<br>2019

			section.cover
				article
					h3 Aendru
					h4 You and Me Now
					p Guest Vocals
				aside
					iframe.spotify(src="https://open.spotify.com/embed/track/52ybpfalBibR8F2qIGGggv" frameborder="0" allowtransparency="true" allow="encrypted-media")
			
			section.cover
				article
					h3 Kat Van Morgan
					h4(style="font-size:2em") Mama Gone Crazy
					div Co-writer; all instrumentation; production
					h4(style="font-size:2em") You're Gonna Regret It
					div Co-writer; all instrumentation; production
					h4(style="font-size:2em") Baby Girl - Lullaby Wedding Version
					div Co-writer; all instrumentation; production
					h4(style="font-size:2em") Overshare
					div Some instrumentation; production


				aside
					iframe.spotify(src="https://open.spotify.com/embed/track/2dyFY339oQUVyl1zpvLg55" frameborder="0" allowtransparency="true" allow="encrypted-media")
			
			section.cover
				article
					h3 Hannah Faith
					h4(style="font-size:2.5rem") I Won't Give In
					p Production
				aside
					iframe.spotify(src="https://open.spotify.com/embed/track/0ogFm11JTP2jfXXOTUJTih" frameborder="0" allowtransparency="true" allow="encrypted-media")


				// img(src="/img/alex-oliva.jpg")
				// img(src="/img/aendru.jpg")


block prepend scripts
	script
		//- NOTE: index depends on javascript in hero to deal with scrolling hero image
		include ../intermediate/js/index.js
		include ../intermediate/js/youtube.js



